Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  after_script:
  - tarantoolctl rocks remove cartridge
  cache:
    key: ${IMAGE_NAME}
    paths:
    - build.luarocks/
    - webui/node_modules
  ...

Cleanup the test
  test/cypress/basic_test.lua
  webui/cypress/integration/server-details-dead-server.spec.js
Due: cypress-auto

Fix WebUI crash when opening details for a dead server (#621)
  test/cypress/basic_test.lua
  webui/cypress/integration/server-details-dead-server.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/src/components/ClusterInstanceSection.js
  webui/src/components/ServerInfoModal.js
  webui/src/store/reducers/app.reducer.js
Due: cypress-auto

Use Dropdown from uikit (#626)
  webui/package-lock.json
  webui/package.json
  webui/src/components/HeaderAuthControl/index.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/UsersTable.js
Due: cypress-auto

Use SplashModal from UI-Kit
  webui/src/components/LogInForm/index.js
Due: cypress-auto

Add copy button to DemoInfo
  webui/src/components/DemoInfo.js
  webui/src/components/InputModal.js
Due: cypress-auto

Test cartridge upgrade
  .gitlab-ci.yml
  CHANGELOG.md
  cartridge.lua
  cartridge/argparse.lua
  cartridge/confapplier.lua
  test/compatibility/upgrade_schema_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Add copy button to DemoInfo (#610)
  webui/src/components/DemoInfo.js
  webui/src/components/InputModal.js
Due: cypress-auto

Use SplashModal from UI-Kit (#633)
  webui/src/components/LogInForm/index.js
Due: cypress-auto

Fix log
  cartridge/test-helpers/server.lua
Due: none

Removed unused cookie defenition
  cartridge/test-helpers/server.lua
  test/compatibility/upgrade_test.lua
  test/integration/console_sock_test.lua
  test/unit/helpers_test.lua
Due: none

Add random cookie generation
  cartridge/test-helpers/cluster.lua
Due: none

Cookie generation changed
  .gitlab-ci.yml
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  test/integration/admin_test.lua
  test/integration/api_uninitialized_test.lua
  test/integration/clock_delta_test.lua
  test/integration/ddl_test.lua
  test/integration/disable_test.lua
  test/integration/multiboot_test.lua
  test/integration/rpc_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Removed unnecessary cookie defention from some tests
  cartridge/test-helpers/cluster.lua
  test/integration/admin_test.lua
  test/integration/api_edit_test.lua
  test/integration/api_join_test.lua
  test/integration/api_query_test.lua
Due: none

Prettify server cookie function
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  test/integration/api_uninitialized_test.lua
  test/integration/clock_delta_test.lua
  test/integration/console_sock_test.lua
  test/integration/multiboot_test.lua
Due: none

Clear .gitlab-ci.yml
  .gitlab-ci.yml
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

fix pr comments
  README.md
Due: none

Set test cookie explicitly
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  test/compatibility/upgrade_test.lua
  test/integration/api_edit_test.lua
  test/integration/api_join_test.lua
  test/integration/api_query_test.lua
  test/integration/api_uninitialized_test.lua
  test/integration/auth_test.lua
  test/integration/bootstrap_test.lua
  test/integration/clock_delta_test.lua
  test/integration/config_test.lua
  test/integration/console_sock_test.lua
  test/integration/ddl_test.lua
  test/integration/disable_test.lua
  test/integration/failover_test.lua
  test/integration/feedback_test.lua
  test/integration/graphql_test.lua
  test/integration/hidden_roles_test.lua
  test/integration/issues_test.lua
  test/integration/join_synchronous_test.lua
  test/integration/labels_test.lua
  test/integration/multiboot_test.lua
  test/integration/multijoin_create_test.lua
  test/integration/multijoin_existing_test.lua
  test/integration/multisharding_api_test.lua
  test/integration/multisharding_one_test.lua
  test/integration/multisharding_two_test.lua
  test/integration/myrole_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/rebalancing_test.lua
  test/integration/reboot_test.lua
  test/integration/rejoin_test.lua
  test/integration/replicaset_alias_test.lua
  test/integration/rpc_test.lua
  test/integration/state_machine_test.lua
  test/integration/vshard_weight_test.lua
  test/integration/vshardless_test.lua
  test/unit/helpers_test.lua
Due: none

make gs more convenient
  README.md
Due: none

Fix bootstrap test
  test/integration/bootstrap_test.lua
Due: none

Randomize cluster cookie in tests (#644)
  test/compatibility/upgrade_test.lua
  test/integration/api_edit_test.lua
  test/integration/api_join_test.lua
  test/integration/api_query_test.lua
  test/integration/auth_test.lua
  test/integration/bootstrap_test.lua
  test/integration/clock_delta_test.lua
  test/integration/config_test.lua
  test/integration/ddl_test.lua
  test/integration/disable_test.lua
  test/integration/failover_test.lua
  test/integration/feedback_test.lua
  test/integration/graphql_test.lua
  test/integration/hidden_roles_test.lua
  test/integration/issues_test.lua
  test/integration/join_synchronous_test.lua
  test/integration/labels_test.lua
  test/integration/multiboot_test.lua
  test/integration/multijoin_create_test.lua
  test/integration/multijoin_existing_test.lua
  test/integration/multisharding_api_test.lua
  test/integration/multisharding_one_test.lua
  test/integration/multisharding_two_test.lua
  test/integration/myrole_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/rebalancing_test.lua
  test/integration/reboot_test.lua
  test/integration/rejoin_test.lua
  test/integration/replicaset_alias_test.lua
  test/integration/rpc_test.lua
  test/integration/state_machine_test.lua
  test/integration/vshard_weight_test.lua
  test/integration/vshardless_test.lua
  test/unit/helpers_test.lua
Due: none

Refactor confapplier apply_config
  CHANGELOG.md
  cartridge/confapplier.lua
  test/integration/state_machine_test.lua
Due: none

Refactor state machine
  CHANGELOG.md
  cartridge/confapplier.lua
  test/integration/state_machine_test.lua
Due: none

Fullmesh state recovery (#624)
  CHANGELOG.md
  cartridge/confapplier.lua
  test/integration/state_machine_test.lua
Due: none

Test netbox auto-reconnect feature
  test/unit/remote_control_test.lua
Due: none

Test netbox auto-reconnect feature (#648)
  test/unit/remote_control_test.lua
Due: none

Fix flaky cypress test
  webui/cypress/integration/server-details-dead-server.spec.js
Due: cypress-auto

Add post_authorize_hooks global action
  webui/src/index.js
Due: cypress-auto

GraphQL API for querying app_name and instance_name
  cartridge/lua-api/topology.lua
  cartridge/webui/api-topology.lua
  test/integration/api_query_test.lua
Due: none

Update CHANGELOG.md and schema.graphql
  CHANGELOG.md
  doc/schema.graphql
  test/integration/api_query_test.lua
Due: none

Add post_authorize_hooks in WebUI (#645)
  webui/cypress/integration/server-details-dead-server.spec.js
  webui/src/index.js
Due: cypress-auto

GraphQL API for querying app_name and instance_name (#649)
  CHANGELOG.md
  cartridge/lua-api/topology.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
  test/integration/api_query_test.lua
Due: none

Update contribution section in readme
  .gitignore
  README.md
Due: none

Remove obsolete files scripts
  .gitlab-ci.yml
  run-test.sh
  taptest.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Add "Running demo" readme section
  README.md
  instances.yml
Due: none

readme: update intro section for nobbies
  README.md
Due: none

fix img align
  README.md
Due: none

Update contribution section in readme (#652)
  .gitignore
  .gitlab-ci.yml
  README.md
  instances.yml
  run-test.sh
  taptest.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Fix TOC
  README.md
Due: none

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  cypress-auto: any of: webui/**/*, test/cypress/**/*
