Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  cypress-auto: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

Implement GraphQL API for etcd2-client
  cartridge/lua-api/failover.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  test/integration/failover_eventual_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress-auto

Implement GraphQL API for etcd2-client (#872)
  cartridge/lua-api/failover.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  test/integration/failover_eventual_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress-auto

Convert all .md topics to .rst
  config.ld
  rst/cartridge_admin.rst
  rst/cartridge_dev.rst
  rst/cartridge_overview.rst
  rst/conf.py
  rst/topics/clusterwide-config.rst
  rst/topics/error-handling.rst
  rst/topics/failover.rst
  topics/clusterwide-config.md
  topics/error-handling.md
Due: none

Convert all .md topics to .rst (#877)
  config.ld
  rst/cartridge_admin.rst
  rst/cartridge_dev.rst
  rst/cartridge_overview.rst
  rst/conf.py
  rst/topics/clusterwide-config.rst
  rst/topics/error-handling.rst
  rst/topics/failover.rst
  topics/clusterwide-config.md
  topics/error-handling.md
Due: none

[UI] Extracted filter input to `ReplicasetFilterInput` component. Click on label puts "name:value" without space (instead of "name: value"). Upgraded UI-Kit version
  webui/package-lock.json
  webui/src/components/ReplicasetFilterInput.js
  webui/src/pages/Cluster/index.js
Due: cypress-auto

Code cleanup (removed unneccesary special propcessing for "status:unhealthy" search)
  webui/src/store/selectors/clusterPage.js
Due: cypress-auto

Changed filter input style: `position:relative` (instead of `position:sticky`)
  webui/src/pages/Cluster/index.js
Due: cypress-auto

Add test for filtering
  test/cypress/basic_test.lua
  webui/cypress/integration/401-error.spec.js
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/cypress/integration/search.spec.js
  webui/src/components/JoinReplicasetForm.js
Due: cypress-auto

[UI] Added filtering by concrete replicaset properties. Prepended filter input with dropdown with predefined search-strings
  webui/src/pages/Cluster/index.js
  webui/src/store/selectors/clusterPage.js
  webui/src/store/selectors/clusterPage.test.js
Due: cypress-auto

Correction of non-working tests
  webui/cypress/integration/expel-server.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/leader-promotion.spec.js
  webui/cypress/integration/server-details-dead-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress-auto

Update changelog
  CHANGELOG.md
Due: none

[UI] Fix filter input layout
  webui/src/components/ReplicasetFilterInput.js
Due: cypress-auto

[UI] Added dropdown with predefined searches to filter in "Join Replicaset" dialog
  webui/src/components/ConfigureServerModal.js
  webui/src/components/JoinReplicasetForm.js
  webui/src/store/selectors/clusterPage.js
Due: cypress-auto

Lint fixes, code cleanup
  webui/src/components/JoinReplicasetForm.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/misc/memoryStatistics.test.js
  webui/src/pages/Cluster/index.js
Due: cypress-auto

Set syslog identity to appname.instancename
  CHANGELOG.md
  cartridge.lua
Due: none

Fix dropdown scroll
  webui/src/components/ReplicasetFilterInput.js
Due: cypress-auto

Fix cypress test
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/store/selectors/clusterPage.js
Due: cypress-auto

graphql: add test for unknown queries/mutations
  test/integration/graphql_test.lua
Due: none

Enhance replicaset filtering by role / status in WebUI (#846)
  CHANGELOG.md
  test/cypress/basic_test.lua
  webui/cypress/integration/401-error.spec.js
  webui/cypress/integration/expel-server.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/leader-promotion.spec.js
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/cypress/integration/search.spec.js
  webui/cypress/integration/server-details-dead-server.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/package-lock.json
  webui/src/components/ConfigureServerModal.js
  webui/src/components/JoinReplicasetForm.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/misc/memoryStatistics.test.js
  webui/src/pages/Cluster/index.js
  webui/src/store/selectors/clusterPage.js
  webui/src/store/selectors/clusterPage.test.js
Due: cypress-auto

Test unknown GraphQL queries/mutations (#883)
  test/integration/graphql_test.lua
Due: none

Set syslog identity to appname.instancename (#881)
  CHANGELOG.md
  cartridge.lua
Due: none

Fix a code block in readme
  README.rst
Due: none

Revise README: convert to .rst, merge with overview, move up in ToC
  README.md
  README.rst
  rst/cartridge_overview.rst
  rst/index.rst
Due: none

Copy ../README.rst to /rst dir before build
  CMakeLists.txt
Due: none

Integrate feedback from Yaroslav Dynnikov
  README.rst
  rst/index.rst
Due: none

Fix a typo
  README.rst
Due: none

Update README (#884)
  CMakeLists.txt
  README.md
  README.rst
  rst/cartridge_overview.rst
  rst/index.rst
Due: none

Changelog: convert to .rst, move to ToC top
  CHANGELOG.md
  CHANGELOG.rst
  CMakeLists.txt
  config.ld
  rst/index.rst
Due: none

Changelog: convert to .rst, move to ToC top (#886)
  CHANGELOG.md
  CHANGELOG.rst
  CMakeLists.txt
  config.ld
  rst/index.rst
Due: none

Test etcd authentication
  test/integration/etcd2_client_test.lua
Due: none

Implement etcd-client to replace stateboard
  Dockerfile.base-ce
  Dockerfile.base-ee
  cartridge/etcd2-client.lua
  cartridge/etcd2.lua
  cartridge/failover.lua
  cartridge/roles/coordinator.lua
  test/integration/etcd2_client_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Implement etcd-client (#850)
  Dockerfile.base-ce
  Dockerfile.base-ee
  cartridge/etcd2-client.lua
  cartridge/etcd2.lua
  cartridge/failover.lua
  cartridge/roles/coordinator.lua
  test/integration/etcd2_client_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Make uuid parameters optional for test helpers
  CHANGELOG.rst
  cartridge/test-helpers/cluster.lua
  test/unit/helpers_test.lua
Due: none

Make uuid parameters optional for test helpers (#893)
  CHANGELOG.rst
  cartridge/test-helpers/cluster.lua
  test/unit/helpers_test.lua
Due: none

Draft gh-865 re systemctl and instances.yml
  cartridge.lua
  cartridge/argparse.lua
  rst/cartridge_dev.rst
Due: none

Fix a typo
  cartridge/argparse.lua
Due: none

gh-865 add details on systemctl and instances.yml (#894)
  cartridge.lua
  cartridge/argparse.lua
  rst/cartridge_dev.rst
Due: none

Enrich failover modal with etcd settings
  webui/src/components/FailoverModal.js
  webui/src/constants.js
  webui/src/generated/graphql-typing.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Enrich failover modal with etcd settings (#896)
  webui/src/components/FailoverModal.js
  webui/src/constants.js
  webui/src/generated/graphql-typing.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Update UI-Kit to 0.18.0
  webui/package-lock.json
  webui/package.json
  webui/src/components/AuthToggleButton.js
  webui/src/components/ClusterIssuesModal.js
  webui/src/components/ConfigureServerModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/DemoInfo.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/EditReplicasetModal.js
  webui/src/components/ExpelServerModal.js
  webui/src/components/FieldGroup.js
  webui/src/components/InputModal.js
  webui/src/components/LogInForm/index.js
  webui/src/components/PageSectionHead/index.js
  webui/src/components/ProbeServerModal.js
  webui/src/components/RecordModal/RecordModal.css
  webui/src/components/RecordModal/RecordModal.js
  webui/src/components/RecordModal/index.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/ServerShortInfo.js
  webui/src/components/UserAddModal/UserAddForm.js
  webui/src/components/UserEditModal/UserEditForm.js
  webui/src/components/UserRemoveModal/index.js
  webui/src/components/UsersTable.js
  webui/src/components/styled.js
  webui/src/pages/Code.js
Due: cypress-auto
