Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

docker-build-ee-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.3:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.6:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee-1.10
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - ./frontend-test.sh
  - ./cypress-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Release v2.7.2 (#1568)
  CHANGELOG.rst
Due: none

Rename login form field
  webui/src/components/LogInForm/index.js
Due: cypress

Rename login form field (#1570)
  webui/src/components/LogInForm/index.js
Due: cypress

ci: add reusable testing workflow
  .github/workflows/reusable-backend-test.yml
Due: none

Expand argparse documentation
  cartridge/argparse.lua
Due: none

ci: add reusable testing workflow (#1573)
  .github/workflows/reusable-backend-test.yml
Due: none

Correct sysntax error
  webui/cypress/integration/users.spec.js
Due: cypress

code-page.spec.js - change cssselector for Delete the confirm window in snapshops
  webui/cypress/snapshots/auth.spec.js/UsersPage.1280x720.snap.png
  webui/cypress/snapshots/restart-replication.spec.js/ClusterSuggestionsPanel.1280x720.snap.png
  webui/cypress/snapshots/users.spec.js/EditUserForm.1280x720.snap.png
Due: cypress

Extra commit to work with created in previous commit snapshots
  webui/cypress/integration/restart-replication.spec.js
Due: cypress

Fix error Delete ⏎······ prettier/prettier
  webui/cypress/integration/restart-replication.spec.js
Due: cypress

Dont validate disabled roles
  cartridge/roles.lua
Due: none

vshard-router's validation isn't called when role is disabled
  cartridge/roles.lua
  test/integration/config_test.lua
Due: none

Cover with tests
  test/integration/config_test.lua
Due: none

Changelog and doc
  CHANGELOG.rst
  cartridge/user-defined-role.lua
Due: none

Update @tarantool.io/ui-kit and frontend-core dependencies to support the new design style
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  webui/package-lock.json
  webui/package.json
Due: none

Fix server-details.spec.js tests
  webui/cypress/integration/server-details.spec.js
Due: cypress

ci: remove unneeded cleanup actions
  .github/workflows/reusable-backend-test.yml
Due: none

Update package-lock.json
  webui/package-lock.json
Due: none

Don't validate config on disabled roles (#1577)
  CHANGELOG.rst
  cartridge/roles.lua
  cartridge/user-defined-role.lua
  test/integration/config_test.lua
Due: none

ci: remove unneeded cleanup actions (#1581)
  .github/workflows/reusable-backend-test.yml
Due: none

Update UI dependencies (#1579)
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  webui/cypress/integration/server-details.spec.js
  webui/package-lock.json
  webui/package.json
Due: cypress

Release 2.7.3
  CHANGELOG.rst
Due: none

Release 2.7.3 (#1584)
  CHANGELOG.rst
Due: none

Fix Python version to 3.9
  .github/workflows/publish.yml
  .github/workflows/pull-translation.yml
  .github/workflows/push-translation.yml
  .github/workflows/upload-translations.yml
Due: none

Fix Python version to 3.9 (#1585)
  .github/workflows/publish.yml
  .github/workflows/pull-translation.yml
  .github/workflows/push-translation.yml
  .github/workflows/upload-translations.yml
Due: none

Remove the Unreleased section from changelog
  CHANGELOG.rst
Due: none

Add missing doc requirments
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Add missing doc requirments (#1587)
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Update tarantool-frontend-tools dependencies
  webui/.babelrc.js
  webui/.eslintrc.js
  webui/.flowconfig
  webui/package-lock.json
  webui/package.json
  webui/tsconfig.json
Due: none

Update FRONTEND_FILES scripts in BuildFrontend.cmake
  webui/BuildFrontend.cmake
Due: none

Fix jest tests
  webui/.babelrc.js
  webui/BuildFrontend.cmake
  webui/package-lock.json
  webui/package.json
Due: none

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
