Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

Add scroll to the bottom of the panel with parameters for Failover control
  webui/cypress/integration/failover.spec.js
Due: cypress

Change closing Failover control with Cancel button instead of X
  webui/cypress/integration/failover.spec.js
Due: cypress

Update issue modal
  webui/src/components/ClusterIssuesModal.js
Due: cypress

Correct css selectors for X button in probe-server.spec.js
  webui/cypress/integration/probe-server.spec.js
Due: cypress

fix tests
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/force-apply-config.spec.js
  webui/cypress/integration/sigstop.spec.js
  webui/cypress/integration/switchover.spec.js
Due: cypress

Correct css selectors for total, healty, unhealty servers count in disable-server.spec.js
  webui/cypress/integration/disable-server.spec.js
Due: cypress

Change be.exist to exist in disable-server.spec.js
  webui/cypress/integration/disable-server.spec.js
Due: cypress

Update issue modal (#1462)
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/force-apply-config.spec.js
  webui/cypress/integration/sigstop.spec.js
  webui/cypress/integration/switchover.spec.js
  webui/src/components/ClusterIssuesModal.js
Due: cypress

Change one more css to correct once
  webui/cypress/integration/disable-server.spec.js
Due: cypress

Update failover cypress tests (#1461)
  webui/cypress/integration/auth.spec.js
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/probe-server.spec.js
  webui/package-lock.json
Due: cypress

Add checks for servers, replicaset states in disable-server
  webui/cypress/integration/disable-server.spec.js
  webui/src/components/ReplicasetList/ReplicasetList.js
Due: cypress

Add Check health state in bootstrap
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Add count check of unconfigured servers in bootstrap
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Correct deployment instruction for RPM and DEB packages
  rst/cartridge_dev.rst
  rst/locale/ru/LC_MESSAGES/cartridge_admin.po
  rst/locale/ru/LC_MESSAGES/cartridge_cli.po
  rst/locale/ru/LC_MESSAGES/cartridge_dev.po
  rst/locale/ru/LC_MESSAGES/cartridge_overview.po
  rst/locale/ru/LC_MESSAGES/index.po
  rst/locale/ru/LC_MESSAGES/troubleshooting.po
Due: none

Verify and update the DEB/RPM deployment instruction (#1444)
  rst/cartridge_dev.rst
  rst/locale/ru/LC_MESSAGES/cartridge_admin.po
  rst/locale/ru/LC_MESSAGES/cartridge_cli.po
  rst/locale/ru/LC_MESSAGES/cartridge_dev.po
  rst/locale/ru/LC_MESSAGES/cartridge_overview.po
  rst/locale/ru/LC_MESSAGES/index.po
  rst/locale/ru/LC_MESSAGES/troubleshooting.po
Due: none

minor rewrite
  rst/topics/state-machine.rst
Due: none

Fix heading levels
  rst/topics/state-machine.rst
Due: none

add draft .rst
  rst/cartridge_dev.rst
  rst/conf.py
  rst/topics/state-machine.rst
  rst/uml/state-machine.uml
Due: none

add uml -> .svg render
  rst/conf.py
  rst/topics/state-machine.rst
Due: none

fix grammar mistakes
  rst/topics/state-machine.rst
Due: none

add .uml files
  rst/topics/state-machine.rst
  rst/uml/ConfigFound.uml
  rst/uml/ConfigLoaded.uml
  rst/uml/ConfiguringRoles.uml
  rst/uml/ConnectingFullmesh.uml
  rst/uml/InitialState.uml
  rst/uml/Recovery.uml
  rst/uml/Unconfigured.uml
Due: none

update requirements.txt with sphinxcontrib.plantuml
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Fix typo in rst/dev/states.rst
  rst/topics/state-machine.rst
Due: none

Proofread the Admin guide
  rst/cartridge_admin.rst
Due: none

Trigger translation jobs when config changes
  .github/workflows/push-translation.yml
  .github/workflows/upload-translations.yml
Due: none

Include code blocks in translation; add the line numbers to context info
  rst/conf.py
Due: none

Bring indentation to order in the dev guide
  rst/cartridge_dev.rst
Due: none

Update translations
  rst/locale/ru/LC_MESSAGES/cartridge_dev.po
Due: none

Update paths to UML files
  rst/topics/state-machine.rst
Due: none

proofread
  rst/topics/state-machine.rst
Due: none

Rename PlantUML files to *.puml
  rst/uml/ConfigFound.puml
  rst/uml/ConfigLoaded.puml
  rst/uml/ConfiguringRoles.puml
  rst/uml/ConnectingFullmesh.puml
  rst/uml/InitialState.puml
  rst/uml/Recovery.puml
  rst/uml/Unconfigured.puml
  rst/uml/state-machine.puml
Due: none

Update ui-kit
  webui/package-lock.json
  webui/package.json
  webui/src/components/FailoverModal.js
  webui/src/constants.js
Due: cypress

Update ui-kit and frontend-core versions
  webui/package-lock.json
  webui/package.json
Due: none

update tests
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/switchover.spec.js
  webui/src/components/FailoverModal.js
Due: cypress

fix tests
  webui/cypress/integration/failover.spec.js
Due: cypress

Add restart replication API
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/lua-api/topology.lua
  cartridge/webui/api-suggestions.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
Due: none

Add tests
  test/helper.lua
  test/integration/advertise_change_test.lua
  test/integration/failover_eventual_test.lua
  test/integration/issues_test.lua
  test/integration/state_machine_test.lua
  test/integration/switchover_test.lua
Due: none

fix typos in .puml files
  rst/uml/ConfigFound.puml
  rst/uml/ConfigLoaded.puml
  rst/uml/ConfiguringRoles.puml
  rst/uml/ConnectingFullmesh.puml
  rst/uml/InitialState.puml
  rst/uml/Recovery.puml
  rst/uml/Unconfigured.puml
Due: none

Add dot for active zone
  webui/src/components/ServerDetailsModal/index.js
Due: cypress

Сheck unhelty servers in Cypress (#1465)
  webui/cypress/integration/bootstrap.spec.js
  webui/cypress/integration/disable-server.spec.js
  webui/src/components/ReplicasetList/ReplicasetList.js
Due: cypress
