Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - luatest -v -p cypress.*
  - ./frontend-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Bugfix: page crushed if selected server is down (after its selection)
  webui/src/components/CreateReplicasetForm.js
Due: cypress-auto

Fix changelog
  CHANGELOG.md
  CHANGELOG.rst
Due: none

Improve graphql error notifications
  webui/src/app/App.js
  webui/src/components/ExpelServerModal.js
  webui/src/components/ProbeServerModal.js
  webui/src/misc/graphqlErrorNotification.js
  webui/src/misc/message.js
  webui/src/pages/ConfigManagement/index.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/reducers/app.reducer.js
  webui/src/store/reducers/ui.reducer.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/clusterPage.saga.js
  webui/src/store/saga/files.saga.js
Due: cypress-auto

Fix test
  webui/cypress/integration/expel-server.spec.js
Due: cypress-auto

Fix cypress tests
  test/cypress/basic_test.lua
  webui/cypress/integration/code-file-in-tree.spec.js
  webui/cypress/integration/leader-promotion.spec.js
Due: cypress-auto

Fix cypress test
  webui/cypress/integration/expel-server.spec.js
Due: cypress-auto

Show GraphQL error details in WebUI (#882)
  CHANGELOG.rst
  test/cypress/basic_test.lua
  webui/cypress/integration/code-file-in-tree.spec.js
  webui/cypress/integration/expel-server.spec.js
  webui/cypress/integration/leader-promotion.spec.js
  webui/src/api/graphql.js
  webui/src/api/graphql.test.js
  webui/src/app/App.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/ExpelServerModal.js
  webui/src/components/ProbeServerModal.js
  webui/src/misc/files.utils.js
  webui/src/misc/files.utils.test.js
  webui/src/misc/graphqlErrorNotification.js
  webui/src/misc/message.js
  webui/src/pages/ConfigManagement/index.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/reducers/app.reducer.js
  webui/src/store/reducers/ui.reducer.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/clusterPage.saga.js
  webui/src/store/saga/files.saga.js
Due: cypress-auto

graphql: simplify tests on output types
  test/integration/graphql_test.lua
Due: none

review fixes for graphql
  cartridge/graphql/execute.lua
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

Refactor use of box.cfg in unit tests
  test/helper.lua
  test/unit/remote_control_test.lua
Due: none

Refactor use of box.cfg in unit tests (#927)
  test/helper.lua
  test/unit/remote_control_test.lua
Due: none

graphql: support default variables (#920)
  cartridge/graphql/execute.lua
  cartridge/graphql/rules.lua
  test/integration/graphql_test.lua
Due: none

graphql: fix error messages for output types mismatch (#919)
  cartridge/graphql/execute.lua
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

Adapt cartridge-cli v2.0+
  .cartridge.yml
  .gitignore
  README.rst
Due: none

Update README.rst
  README.rst
Due: none

Fix link
  README.rst
Due: none

Adapt cartridge-cli v2.0+ (#936)
  .cartridge.yml
  .gitignore
  README.rst
Due: none

Fix another race in eventual failover
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/failover.lua
  cartridge/roles.lua
  test/integration/state_machine_test.lua
Due: none

Add full app name in tests
  test/cypress/basic_test.lua
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/configuration-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/probe-server.spec.js
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

tests for page titles
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/configuration-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Cleanup the patch
  test/cypress/basic_test.lua
  test/cypress/bootstrap_test.lua
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/configuration-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/probe-server.spec.js
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Tests page titles with cypress (#924)
  test/cypress/bootstrap_test.lua
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/download-configuration.spec.js
  webui/cypress/integration/replicaset-filtering.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Add test for Error details
  test/cypress/basic_test.lua
  webui/cypress/integration/error-details.spec.js
Due: cypress-auto

Fix test error-details
  webui/cypress/integration/error-details.spec.js
Due: cypress-auto

Add one more check
  webui/cypress/integration/error-details.spec.js
Due: cypress-auto

Test WebUI error details with cypress (#931)
  test/cypress/basic_test.lua
  webui/cypress/integration/error-details.spec.js
Due: cypress-auto

consistent_swithover param introduced into GraphQL API
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  test/integration/failover_eventual_test.lua
  test/unit/topology_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress-auto

Fix another race in eventual failover (#937)
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/failover.lua
  cartridge/roles.lua
  test/integration/state_machine_test.lua
Due: none

Enhance failover triggering tests
  test/integration/state_machine_test.lua
Due: none

Enhance failover triggering tests (#938)
  test/integration/state_machine_test.lua
Due: none

Fix ius-release repo url
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Fix ius-release repo url (#942)
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

graphql: show at least object kind in case of null value
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

graphql: show at least object kind in case of null value (#943)
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

Change bootstrap readiness check
  webui/src/components/BootstrapButton.js
  webui/src/components/BootstrapPanel.js
  webui/src/store/selectors/clusterPage.js
Due: cypress-auto

Change bootstrap readiness check in WebUI (#932)
  webui/src/components/BootstrapButton.js
  webui/src/components/BootstrapPanel.js
  webui/src/store/selectors/clusterPage.js
Due: cypress-auto

gh-876 Add systemd info
  rst/cartridge_dev.rst
Due: none

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  cypress-auto: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
