Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

docker-build-ee-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.3:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.6:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee-1.10
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - ./frontend-test.sh
  - ./cypress-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Fix parsing of default values of variables
  cartridge/graphql/execute.lua
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

Make parseLiteral function as required
  cartridge/graphql/types.lua
  cartridge/graphql/util.lua
Due: none

Remove debug info, fix code paddings
  test/integration/graphql_test.lua
Due: none

Fix GraphQL values parsing (#1199)
  cartridge/graphql.lua
  cartridge/graphql/execute.lua
  cartridge/graphql/types.lua
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
  test/unit/graphql_test.lua
Due: none

Fix ddl management issues
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  cartridge.lua
  cartridge/ddl-manager.lua
  cartridge/webui/api-ddl.lua
  test/integration/api_query_test.lua
  test/integration/ddl_test.lua
  test/integration/failover_stateful_test.lua
Due: none

Fix schema-editor test
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

Fix ddl management issues (#1202)
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  cartridge.lua
  cartridge/ddl-manager.lua
  cartridge/webui/api-ddl.lua
  test/integration/api_query_test.lua
  test/integration/ddl_test.lua
  test/integration/failover_stateful_test.lua
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

Update readme
  CMakeLists.txt
  CONTRIBUTING.rst
  README.rst
  cartridge.png
Due: none

Update readme (#1206)
  CMakeLists.txt
  CONTRIBUTING.rst
  README.rst
  cartridge.png
Due: none

Release v2.4.0
  CHANGELOG.rst
Due: none

Release v2.4.0 (#1207)
  CHANGELOG.rst
Due: none

Fix rock publishing
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
  release.sh
  upload.sh
Due: none

Update cypress version 4.12.1 -> 6.2.0
  .github/workflows/frontend-test.yml
  CONTRIBUTING.rst
  Dockerfile.base-ce
  Dockerfile.base-ee
  cypress-test.sh
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Add implies_storage, implies_router attributes to cluster.known_roles GraphQL
  cartridge/roles/vshard-router.lua
  cartridge/roles/vshard-storage.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
  test/entrypoint/srv_basic.lua
  test/integration/myrole_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress

Add implies_storage, implies_router attributes to cluster.known_roles GraphQL (#1217)
  cartridge/roles/vshard-router.lua
  cartridge/roles/vshard-storage.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
  test/entrypoint/srv_basic.lua
  test/integration/myrole_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress

Update UI-Kit to 0.33.0
  webui/package-lock.json
  webui/package.json
  webui/src/components/FileTree/index.js
  webui/src/components/LogInForm/index.js
  webui/src/pages/Code.js
Due: cypress

Update test
  webui/cypress/integration/code-page.spec.js
Due: cypress

Fix flaky orphan sync timeout test
  test/integration/state_machine_test.lua
Due: none

Update cypress version 4.12.1 -> 6.2.0 (#1213)
  .github/workflows/frontend-test.yml
  CONTRIBUTING.rst
  Dockerfile.base-ce
  Dockerfile.base-ee
  cypress-test.sh
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Remove flaky orphan sync timeout test
  test/integration/state_machine_test.lua
Due: none

Updates UI-Kit to 0.33.0 (#1222)
  webui/cypress/integration/code-page.spec.js
  webui/package-lock.json
  webui/package.json
  webui/src/components/FileTree/index.js
  webui/src/components/LogInForm/index.js
  webui/src/pages/Code.js
Due: cypress

Remove flaky orphan sync timeout test (#1224)
  test/integration/state_machine_test.lua
Due: none

Fix the way to kill server in server-details test
  .github/workflows/frontend-test.yml
  webui/cypress/integration/server-details.spec.js
Due: cypress

Fix the way to kill server in server-details test (#1221)
  .github/workflows/frontend-test.yml
  webui/cypress/integration/server-details.spec.js
Due: cypress

add checks for connection lost
  webui/cypress/integration/connection-is-lost.spec.js
  webui/src/components/ReplicasetServerListItem.js
Due: cypress

wip: added 2 scenarios for cluster page
  webui/cypress/integration/connection-is-lost.spec.js
Due: cypress

Rename the test
  webui/cypress/integration/sigstop.spec.js
Due: cypress

Test sigstopped instance with Cypress (#1220)
  webui/cypress/integration/sigstop.spec.js
  webui/src/components/ReplicasetServerListItem.js
Due: cypress

Implement force-apply suggestions API
  CHANGELOG.rst
  cartridge/issues.lua
  cartridge/webui/api-issues.lua
  cartridge/webui/api-suggestions.lua
  doc/schema.graphql
Due: none

Cover force-apply suggestions API with tests
  test/integration/api_query_test.lua
  test/integration/api_uninitialized_test.lua
  test/integration/force_reapply_test.lua
  test/integration/issues_test.lua
Due: none

Add stateboard defaults
  cartridge/topology.lua
  instances.yml
  test/compatibility/config_test.lua
  test/integration/failover_eventual_test.lua
Due: none

Update cypress failover test
  webui/cypress/integration/failover.spec.js
Due: cypress

Refactor API
  cartridge/webui/api-suggestions.lua
  doc/schema.graphql
  test/helper.lua
  test/integration/advertise_change_test.lua
  test/integration/force_reapply_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress

Add stateboard defaults (#1225)
  cartridge/topology.lua
  instances.yml
  test/compatibility/config_test.lua
  test/integration/failover_eventual_test.lua
  webui/cypress/integration/failover.spec.js
Due: cypress

Suggestion API to force-apply config (#1188)
  CHANGELOG.rst
  cartridge/issues.lua
  cartridge/webui/api-issues.lua
  cartridge/webui/api-suggestions.lua
  doc/schema.graphql
  test/helper.lua
  test/integration/advertise_change_test.lua
  test/integration/api_query_test.lua
  test/integration/api_uninitialized_test.lua
  test/integration/force_reapply_test.lua
  test/integration/issues_test.lua
  webui/src/generated/graphql-typing.js
Due: cypress

Remove obsolete development dockerfiles
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Remove obsolete development dockerfiles (#1226)
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Hide status badges from website
  README.rst
Due: none

Hide status badges from website (#1227)
  README.rst
Due: none

Process EcodeEventIndexCleared response
  cartridge/etcd2-client.lua
  cartridge/etcd2.lua
  test/integration/etcd2_client_test.lua
Due: none

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
