Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  cypress-auto: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

Parametrize switchover test
  test/integration/switchover_test.lua
  webui/cypress/integration/failover.spec.js
Due: cypress-auto

Parametrize switchover test (#993)
  test/integration/switchover_test.lua
  webui/cypress/integration/failover.spec.js
Due: cypress-auto

Refactor use of box.cfg in unit tests (#927)
  test/helper.lua
  test/unit/remote_control_test.lua
Due: none

Fix another race in eventual failover (#937)
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/failover.lua
  cartridge/roles.lua
  test/integration/state_machine_test.lua
Due: none

Move wish_state to test helpers (#956)
  test/helper.lua
  test/integration/state_machine_test.lua
Due: none

Enhance failover triggering tests (#938)
  test/integration/state_machine_test.lua
Due: none

Enhance logging in tests (#959)
  test/entrypoint/srv_basic.lua
Due: none

Fix state_machine_test compatibility with 2.3 (#961)
  test/helper.lua
  test/integration/state_machine_test.lua
Due: none

Fix cfg_errors test compatibility with 2.3 (#962)
  test/unit/cfg_errors_test.lua
Due: none

Avoid creation of excess tempdir in cypress tests (#969)
  test/cypress/bootstrap_test.lua
Due: cypress-auto

Fix feedback test compatibility with 1.10 (#963)
  test/integration/feedback_test.lua
Due: none

Update gitlab-ci config (#964)
  .gitlab-ci.yml
Due: none

Parametrize stateful failover tests (#966)
  test/helper.lua
  test/integration/etcd2_client_test.lua
  test/integration/failover_stateful_test.lua
Due: none

Fix flaky test_console_sock (#974)
  test/unit/cfg_errors_test.lua
Due: none

Fix flaky state_machine test (#973)
  test/integration/state_machine_test.lua
Due: none

Fix ius-release repo url (#942)
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Update UI-Kit & fix dropdowns on cluster page
  webui/package-lock.json
  webui/package.json
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ReplicasetServerListItem/index.js
Due: cypress-auto

Update UI-Kit & fix dropdowns on cluster page (#954)
  webui/package-lock.json
  webui/package.json
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ReplicasetServerListItem/index.js
Due: cypress-auto

Force promote a leader in UI
  CHANGELOG.rst
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ReplicasetServerListItem/index.js
  webui/src/generated/graphql-typing.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/request/clusterInstancePage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Fix test
  webui/cypress/integration/failover.spec.js
Due: cypress-auto

Add "force promote" button in WebUI (#990)
  CHANGELOG.rst
  webui/cypress/integration/failover.spec.js
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ReplicasetServerListItem/index.js
  webui/src/generated/graphql-typing.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/request/clusterInstancePage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Indicate consistent switchover problems in WebUI
  cartridge/failover.lua
  cartridge/lua-api/failover.lua
  test/integration/switchover_test.lua
Due: none

review fixes
  cartridge/auth.lua
  test/integration/auth_test.lua
Due: none

Invalidate user's cookie after password change
  cartridge/auth-backend.lua
  cartridge/auth.lua
  test/integration/auth_test.lua
Due: none

export set_lsid_cookie helper
  cartridge/auth.lua
Due: none

Invalidate user's cookie after password change (#989)
  cartridge/auth-backend.lua
  cartridge/auth.lua
  test/integration/auth_test.lua
Due: none

Shows notification on successful leader promotion
  webui/src/store/saga/clusterPage.saga.js
Due: cypress-auto

Show WebUI notification on successful leader promotion (#1001)
  webui/src/store/saga/clusterPage.saga.js
Due: cypress-auto

Indicate consistent switchover problems in WebUI (#1000)
  cartridge/failover.lua
  cartridge/lua-api/failover.lua
  test/integration/switchover_test.lua
Due: none

allow to pass ULL/LL numbers as user version
  cartridge/auth.lua
Due: none

Allow to pass ULL/LL numbers as user version (#1003)
  cartridge/auth.lua
Due: none

Release v2.2.1
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

Added validation of instance uri
  cartridge/lua-api/edit-topology.lua
  test/integration/api_join_test.lua
Due: none

Validate instance uri at config prepare stage
  cartridge/confapplier.lua
  cartridge/lua-api/edit-topology.lua
  cartridge/topology.lua
  test/integration/api_join_test.lua
Due: none

Add validation of instance uri
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/topology.lua
  cartridge/twophase.lua
  test/integration/api_edit_test.lua
  test/integration/api_join_test.lua
Due: none

Add generate_checksum func
  cartridge/clusterwide-config.lua
  test/unit/clusterwide_config_test.lua
Due: none

Implement clusterwide-config checksum calculation (#999)
  cartridge/clusterwide-config.lua
  test/unit/clusterwide_config_test.lua
Due: none

Update tarantool repo in Gitlab CI base image
  .gitlab-ci.yml
  Dockerfile.base-ce
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Update UI-Kit
  webui/package-lock.json
  webui/package.json
  webui/src/app/App.js
  webui/src/components/ClusterButtonsPanel.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/FormField.js
  webui/src/components/JoinReplicasetForm.js
  webui/src/components/ReplicasetServerListItem/index.js
  webui/src/components/SelectedServersList.js
  webui/src/pages/Cluster/index.js
  webui/src/pages/Code.js
  webui/src/pages/ConfigManagement/index.js
  webui/src/pages/Schema.js
  webui/src/pages/Users/index.js
Due: cypress-auto

Update tarantool repo in Gitlab CI base image (#1005)
  .gitlab-ci.yml
  Dockerfile.base-ce
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2
