Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  after_script:
  - tarantoolctl rocks remove cartridge
  cache:
    key: ${IMAGE_NAME}
    paths:
    - build.luarocks/
    - webui/node_modules
  ...

vshard: bump version to 0.1.15
  cartridge-scm-1.rockspec
Due: none

Regroup integration tests (#608)
  test/integration/config_test.lua
  test/integration/failover_test.lua
  test/integration/state_machine_test.lua
Due: none

Fix flaky CI tests by engaging tmpfs
  .gitlab-ci.yml
  test/helper.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Add option for clusterwide env in test helpers
  CHANGELOG.md
  cartridge/test-helpers/cluster.lua
  test/unit/helpers_test.lua
Due: none

Add option for clusterwide env in test helpers (#611)
  CHANGELOG.md
  cartridge/test-helpers/cluster.lua
  test/unit/helpers_test.lua
Due: none

Fix flaky CI tests by engaging tmpfs (#613)
  .gitlab-ci.yml
  test/helper.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Hide menu items with blacklist
  webui/src/index.js
  webui/src/menu.js
  webui/src/store/reducers/auth.reducer.js
  webui/src/store/request/app.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/auth.saga.js
Due: cypress-auto

Add cypress test on blacklisted pages
  test/cypress/basic_test.lua
  webui/cypress/integration/blacklist-pages.spec.js
Due: cypress-auto

Update vshard version to 0.1.15 (#609)
  cartridge-scm-1.rockspec
Due: none

Hide blacklisted pages in WebUI (#606)
  test/cypress/basic_test.lua
  webui/cypress/integration/blacklist-pages.spec.js
  webui/src/index.js
  webui/src/menu.js
  webui/src/store/reducers/auth.reducer.js
  webui/src/store/request/app.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/auth.saga.js
Due: cypress-auto

Add topology_availability test
  test/integration/state_machine_test.lua
Due: none

Add logs
  cartridge/topology.lua
Due: none

Fix api_edit test
  test/integration/api_edit_test.lua
Due: none

Remove redundant topology validation checks
  cartridge/topology.lua
  test/integration/api_edit_test.lua
  test/unit/topology_test.lua
Due: none

Fix topology.validate_availability
  cartridge/topology.lua
  test/unit/topology_test.lua
Due: none

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

Cleanup the patch
  test/integration/api_edit_test.lua
  test/integration/state_machine_test.lua
Due: none

Ignore membership status during two-phase commit (#615)
  CHANGELOG.md
  cartridge/topology.lua
  test/integration/api_edit_test.lua
  test/integration/state_machine_test.lua
  test/unit/topology_test.lua
Due: none

Split failover GraphQL API into separate module
  cartridge/webui.lua
  cartridge/webui/api-failover.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
Due: none

Split failover GraphQL API into separate module (#616)
  cartridge/webui.lua
  cartridge/webui/api-failover.lua
  cartridge/webui/api-topology.lua
  doc/schema.graphql
Due: none

Fix flaky rejoin test
  test/integration/rejoin_test.lua
Due: none

Fix typo
  test/integration/rejoin_test.lua
Due: none

Fix flaky rejoin.test_rebootstrap (#618)
  test/integration/rejoin_test.lua
Due: none

Implement Lua API for failover configuration
  CHANGELOG.md
  cartridge.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  cartridge/webui/api-failover.lua
  test/integration/api_uninitialized_test.lua
  test/unit/topology_test.lua
Due: none

Update WebUI according to GraphQL API change
  webui/cypress/integration/failover.spec.js
  webui/src/components/ClusterButtonsPanel.js
  webui/src/components/FailoverButton.js
  webui/src/generated/graphql-typing.js
  webui/src/pages/Cluster/index.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Refactor GraphQL failover API
  CHANGELOG.md
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  frontend-test.sh
  run-test.sh
  test/integration/api_uninitialized_test.lua
  test/integration/failover_test.lua
Due: none

readme: update intro section for nobbies
  README.md
Due: none

fix img align
  README.md
Due: none

Fix rpc on uninitialized cluster
  CHANGELOG.md
  cartridge/rpc.lua
  test/integration/api_uninitialized_test.lua
Due: none

Fix flaky cypress test
  webui/cypress/integration/text-inputs-tests.spec.js
Due: cypress-auto

Refactor failover api (#617)
  CHANGELOG.md
  cartridge.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  frontend-test.sh
  run-test.sh
  test/integration/api_uninitialized_test.lua
  test/integration/failover_test.lua
  test/unit/topology_test.lua
  webui/cypress/integration/failover.spec.js
  webui/src/components/ClusterButtonsPanel.js
  webui/src/components/FailoverButton.js
  webui/src/generated/graphql-typing.js
  webui/src/pages/Cluster/index.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Fix rpc on uninitialized cluster (#627)
  CHANGELOG.md
  cartridge/rpc.lua
  test/integration/api_uninitialized_test.lua
Due: none

Add admin_bootstrap_vshard to public Lua API
  cartridge.lua
  cartridge/lua-api/vshard.lua
  test/integration/vshardless_test.lua
Due: none

Fix typo in error class name
  cartridge/lua-api/failover.lua
Due: none

Add admin_bootstrap_vshard to public Lua API (#631)
  cartridge.lua
  cartridge/lua-api/vshard.lua
  test/integration/vshardless_test.lua
Due: none

Fix typo in error class name (#632)
  cartridge/lua-api/failover.lua
Due: none

Fix flaky cypress test (#628)
  webui/cypress/integration/text-inputs-tests.spec.js
Due: cypress-auto

Add test for dead server
  test/cypress/basic_test.lua
  webui/cypress/integration/server-details-dead-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress-auto

Fix dead server details error
  webui/src/components/ClusterInstanceSection.js
  webui/src/components/ServerInfoModal.js
  webui/src/store/reducers/app.reducer.js
Due: cypress-auto

Use Dropdown from uikit
  webui/package-lock.json
  webui/package.json
  webui/src/components/HeaderAuthControl/index.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/UsersTable.js
Due: cypress-auto

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  cypress-auto: any of: webui/**/*, test/cypress/**/*
