Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - luatest -v -p cypress.*
  - ./frontend-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Implement etcd cluster quorum check
  cartridge/etcd2-client.lua
  cartridge/etcd2.lua
  test/integration/etcd2_client_test.lua
Due: none

Implement etcd cluster quorum check (#1017)
  cartridge/etcd2-client.lua
  cartridge/etcd2.lua
  test/integration/etcd2_client_test.lua
Due: none

Update uikit
  webui/src/components/BootstrapButton.js
  webui/src/components/ClusterButtonsPanel.js
  webui/src/components/ClusterIssuesButton.js
  webui/src/components/ClusterIssuesModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/DemoInfo.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/FailoverButton.js
  webui/src/components/FailoverModal.js
  webui/src/components/JoinReplicasetForm.js
  webui/src/components/LogInForm/index.js
  webui/src/components/ProbeServerModal.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/UnconfiguredServerList.js
  webui/src/components/UserAddModal/UserAddForm.js
  webui/src/components/UserEditModal/UserEditForm.js
  webui/src/components/UsersTable.js
  webui/src/pages/ConfigManagement/index.js
  webui/src/pages/Schema.js
  webui/src/pages/Users/index.js
Due: cypress-auto

Use replication_connect_quorum = 0 by default
  CHANGELOG.rst
  cartridge.lua
  test/integration/state_machine_test.lua
Due: none

Allow garbagecollecting pool connections
  CHANGELOG.rst
  cartridge/pool.lua
  test/integration/pool_connect_test.lua
Due: none

upd
  webui/package-lock.json
  webui/package.json
  webui/src/assets/tarantool-logo-full.svg
  webui/src/components/LogInForm/index.js
Due: cypress-auto

Update login form
  webui/src/components/FieldGroup.js
  webui/src/components/LogInForm/index.js
Due: cypress-auto

Update uikit (#1028)
  webui/package-lock.json
  webui/package.json
  webui/src/assets/tarantool-logo-full.svg
  webui/src/components/BootstrapButton.js
  webui/src/components/ClusterButtonsPanel.js
  webui/src/components/ClusterIssuesButton.js
  webui/src/components/ClusterIssuesModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/DemoInfo.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/FailoverButton.js
  webui/src/components/FailoverModal.js
  webui/src/components/FieldGroup.js
  webui/src/components/JoinReplicasetForm.js
  webui/src/components/LogInForm/index.js
  webui/src/components/ProbeServerModal.js
  webui/src/components/ReplicasetFilterInput.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/components/ReplicasetServerListItem/ReplicasetServerListItemDropdown.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/UnconfiguredServerList.js
  webui/src/components/UserAddModal/UserAddForm.js
  webui/src/components/UserEditModal/UserEditForm.js
  webui/src/components/UsersTable.js
  webui/src/pages/ConfigManagement/index.js
  webui/src/pages/Schema.js
  webui/src/pages/Users/index.js
Due: cypress-auto

Avoid ConnectingFullmesh trap on advertise_uri change
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/topology.lua
  test/integration/reboot_test.lua
Due: none

Protect pool connections from GC for a while
  CHANGELOG.rst
  cartridge/pool.lua
  test/integration/pool_connect_test.lua
Due: none

Avoid ConnectingFullmesh trap on advertise_uri change (#1032)
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/topology.lua
  test/integration/reboot_test.lua
Due: none

Refine servers URIs according to membership info
  CHANGELOG.rst
  cartridge/issues.lua
  cartridge/topology.lua
  cartridge/twophase.lua
  test/integration/api_edit_test.lua
  test/integration/issues_test.lua
Due: none

Refine servers URIs according to membership info (#1033)
  CHANGELOG.rst
  cartridge/issues.lua
  cartridge/topology.lua
  cartridge/twophase.lua
  test/integration/api_edit_test.lua
  test/integration/issues_test.lua
Due: none

Update frontend-core
  cartridge-scm-1.rockspec
  webui/package-lock.json
  webui/package.json
Due: none

Fix cypress tests
  webui/cypress/integration/code-file-in-tree.spec.js
  webui/cypress/integration/code-folder-in-tree.spec.js
  webui/cypress/integration/schema-editor.spec.js
Due: cypress-auto

Update reload config snippet
  rst/troubleshooting.rst
Due: none

Use socket instead of advertise URI
  rst/troubleshooting.rst
Due: none

Fix config reload snippet
  rst/troubleshooting.rst
Due: none

Add documentation for using cartridge repair
  rst/troubleshooting.rst
Due: none

Update cypress config viewport
  webui/cypress.json
Due: none

Minor edits
  rst/troubleshooting.rst
Due: none

Try to fix error in network error test
  webui/cypress/integration/network-error-splash.spec.js
Due: cypress-auto

Update cypress
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Increase cypress default timeout
  webui/cypress.json
Due: none

Update frontend-core (#1035)
  Dockerfile.base-ce
  Dockerfile.base-ee
  cartridge-scm-1.rockspec
  webui/cypress.json
  webui/cypress/integration/code-file-in-tree.spec.js
  webui/cypress/integration/code-folder-in-tree.spec.js
  webui/cypress/integration/network-error-splash.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/package-lock.json
  webui/package.json
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

Report role init/apply_conf/stop errors immediately
  cartridge/roles.lua
Due: none

Fix flaky stateful failover test
  test/integration/failover_stateful_test.lua
Due: none

Report role init/apply_conf/stop errors immediately (#1041)
  cartridge/roles.lua
Due: none

Fix flaky stateful failover test (#1042)
  test/integration/failover_stateful_test.lua
Due: none

Add test for consistent promotion
  test/cypress/consistent_test.lua
  webui/cypress/integration/consistent-promotion.spec.js
Due: cypress-auto

New patch_clusterwide option to avoid skipping 2pc
  CHANGELOG.rst
  cartridge/twophase.lua
  cartridge/webui/api-config.lua
  test/integration/api_query_test.lua
Due: none

Split advertise change test into separate group
  cartridge/test-helpers/server.lua
  test/integration/advertise_change_test.lua
  test/integration/issues_test.lua
Due: none

Add support of a flaky test monitor
  .gitlab-ci.yml
  push_test_results.sh
Due: none

Split advertise change test into a separate group (#1049)
  cartridge/test-helpers/server.lua
  test/integration/advertise_change_test.lua
  test/integration/issues_test.lua
Due: none

Add support of a flaky test monitor (#1052)
  .gitlab-ci.yml
  push_test_results.sh
Due: none

Reorganize get_topology code
  cartridge/lua-api/get-topology.lua
Due: none

Reorganize get_topology code (#1047)
  cartridge/lua-api/get-topology.lua
Due: none

Refine uri when querying topology
  CHANGELOG.rst
  cartridge/lua-api/get-topology.lua
  test/integration/advertise_change_test.lua
Due: none

Refine uri when querying topology (#1050)
  CHANGELOG.rst
  cartridge/lua-api/get-topology.lua
  test/integration/advertise_change_test.lua
Due: none

Implement sugesstions API for showing WebUI banner
  CHANGELOG.rst
  cartridge/webui.lua
  cartridge/webui/api-suggestions.lua
  doc/schema.graphql
  instances.yml
  test/integration/advertise_change_test.lua
  test/integration/api_query_test.lua
  test/integration/api_uninitialized_test.lua
Due: none

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  cypress-auto: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
