Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  after_script:
  - tarantoolctl rocks remove cartridge
  cache:
    key: ${IMAGE_NAME}
    paths:
    - build.luarocks/
    - webui/node_modules
  ...

Cleanup the patch
  cartridge.lua
  cartridge/webui.lua
  doc/schema.graphql
  test/integration/api_query_test.lua
Due: none

Add tests
  test/integration/api_query_test.lua
  test/integration/srv_basic.lua
Due: none

Delete unnecessary test file
  test/unit/webui_blacklist_test.lua
Due: none

Fix remarks
  CHANGELOG.md
  cartridge.lua
  cartridge/webui.lua
  cartridge/webui/api-blacklist.lua
  doc/schema.graphql
  test/integration/api_query_test.lua
  test/integration/srv_basic.lua
Due: none

Update GraphQL scheme
  doc/schema.graphql
Due: none

GraphQL API for WebUI pages blacklisting (#579)
  CHANGELOG.md
  cartridge.lua
  cartridge/webui.lua
  doc/schema.graphql
  test/integration/api_query_test.lua
  test/integration/srv_basic.lua
Due: none

Show Cartridge version in server info dialog
  CHANGELOG.md
  webui/src/store/request/clusterInstancePage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Clickable server alias in replicaset list
  CHANGELOG.md
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/ServerInfoModal.js
Due: cypress-auto

Show Cartridge version in server info dialog (#570)
  CHANGELOG.md
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/ServerInfoModal.js
  webui/src/store/request/clusterInstancePage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress-auto

Add way to get and set DDL schema
  CHANGELOG.md
  cartridge.lua
Due: none

Alias global schema functions in cartridge module (#580)
  CHANGELOG.md
  cartridge.lua
Due: none

Simplify membership options parsing
  cartridge.lua
Due: none

Fix flaky tar test
  test/unit/tar_test.lua
Due: none

Simplify membership options parsing (#588)
  cartridge.lua
Due: none

Fix flaky tar test (#590)
  test/unit/tar_test.lua
Due: none

Revise CI settings
  .gitlab-ci.yml
  CMakeLists.txt
  cartridge-scm-1.rockspec
  check-flow-graphql.sh
  frontend-test.sh
  release.sh
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Revise CI settings (#591)
  .gitlab-ci.yml
  CMakeLists.txt
  cartridge-scm-1.rockspec
  check-flow-graphql.sh
  frontend-test.sh
  release.sh
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Get rid of mandatory cypress dependency
  .gitlab-ci.yml
  Dockerfile.base-ce
  Dockerfile.base-ee
  README.md
  webui/package-lock.json
  webui/package.json
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

Get rid of mandatory cypress dependency (#593)
  .gitlab-ci.yml
  Dockerfile.base-ce
  Dockerfile.base-ee
  README.md
  webui/package-lock.json
  webui/package.json
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

Minor text edits to connect info
  webui/src/components/DemoInfo.js
Due: cypress-auto

Minor text edits to connect info (#584)
  webui/src/components/DemoInfo.js
Due: cypress-auto

Add graphql api to check replication status
  CHANGELOG.md
  cartridge/warnings.lua
  cartridge/webui.lua
  cartridge/webui/api-warnings.lua
  doc/schema.graphql
  test/integration/failover_test.lua
  test/integration/myrole_failover_test.lua
  test/integration/warnings_test.lua
Due: none

Rename warnings to issues
  .gitlab-ci.yml
  cartridge/issues.lua
  cartridge/webui.lua
  cartridge/webui/api-issues.lua
  cartridge/webui/api-warnings.lua
  doc/schema.graphql
  test/integration/failover_test.lua
  test/integration/issues_test.lua
  test/integration/myrole_failover_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Add GraphQL API to check replication status (#517)
  .gitlab-ci.yml
  CHANGELOG.md
  cartridge/issues.lua
  cartridge/webui.lua
  cartridge/webui/api-issues.lua
  doc/schema.graphql
  test/integration/failover_test.lua
  test/integration/issues_test.lua
  test/integration/myrole_failover_test.lua
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Rewrite tap tests with luatest
  test/unit/roledeps_test.lua
  test/unit/rpc_test.lua
  test/unit/test_roledeps.lua
  test/unit/test_rpc.lua
  test/unit/vshard_config_test.lua
Due: none

Minimize the diff
  test/unit/roledeps_test.lua
  test/unit/rpc_candidates_test.lua
  test/unit/vshard_config_test.lua
Due: none

Rewrite last tap tests with luatest (#585)
  test/unit/roledeps_test.lua
  test/unit/rpc_candidates_test.lua
  test/unit/vshard_config_test.lua
Due: none

Save advertise_uri in confapplier vars
  cartridge.lua
  cartridge/confapplier.lua
Due: none

Enhance error logging during 2pc
  cartridge/twophase.lua
Due: none

Name binary units properly: KiB instead of Kb
  webui/src/components/ReplicasetServerListItem.js
Due: cypress-auto

Save advertise_uri in confapplier vars (#596)
  cartridge.lua
  cartridge/confapplier.lua
Due: none

Enhance error logging during 2pc (#597)
  cartridge/twophase.lua
Due: none

Name binary units properly: KiB instead of Kb (#599)
  webui/src/components/ReplicasetServerListItem.js
Due: cypress-auto

Add lazySection
  webui/package-lock.json
  webui/package.json
  webui/src/components/SectionLoadError.js
  webui/src/components/SectionPreloader.js
  webui/src/index.js
  webui/src/misc/lazySection.js
Due: cypress-auto

Handle errors when loading dynamic WebUI sections (#571)
  webui/package-lock.json
  webui/package.json
  webui/src/components/SectionLoadError.js
  webui/src/components/SectionPreloader.js
  webui/src/index.js
  webui/src/misc/lazySection.js
Due: cypress-auto

Split enormous admin.lua into smaller modules
  cartridge.lua
  cartridge/admin.lua
  cartridge/lua-api/boxinfo.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/edit-topology.lua
  cartridge/lua-api/failover.lua
  cartridge/lua-api/get-topology.lua
  cartridge/lua-api/stat.lua
  cartridge/lua-api/topology.lua
  cartridge/lua-api/vshard.lua
  cartridge/user-defined-role.lua
  cartridge/webui/api-topology.lua
  cartridge/webui/api-vshard.lua
  cartridge/webui/gql-boxinfo.lua
  cartridge/webui/gql-stat.lua
  config.ld
  test/integration/api_query_test.lua
Due: none

Split enormous admin.lua into smaller modules (#605)
  cartridge.lua
  cartridge/admin.lua
  cartridge/lua-api/boxinfo.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/edit-topology.lua
  cartridge/lua-api/failover.lua
  cartridge/lua-api/get-topology.lua
  cartridge/lua-api/stat.lua
  cartridge/lua-api/topology.lua
  cartridge/lua-api/vshard.lua
  cartridge/user-defined-role.lua
  cartridge/webui/api-topology.lua
  cartridge/webui/api-vshard.lua
  cartridge/webui/gql-boxinfo.lua
  cartridge/webui/gql-stat.lua
  config.ld
  test/integration/api_query_test.lua
Due: none

Regroup tests
  test/integration/config_test.lua
  test/integration/failover_test.lua
  test/integration/state_machine_test.lua
Due: none

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, .gitlab-ci.yml, test/integration/requirements.txt
  cypress-auto: any of: webui/**/*, test/cypress/**/*
