Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

docker-build-ee-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.3:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.6:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee-1.10
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - ./frontend-test.sh
  - ./cypress-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Add some 2.5+ options to argparse (#1138)
  CHANGELOG.rst
  cartridge/argparse.lua
Due: none

Add fencing lua-api
  cartridge/failover.lua
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  rst/topics/failover.rst
  test/integration/failover_eventual_test.lua
  test/integration/fencing_test.lua
  test/unit/topology_test.lua
Due: none

Add fencing graphql-api
  CHANGELOG.rst
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  test/integration/failover_eventual_test.lua
Due: none

Fix tests
  test/integration/advertise_change_test.lua
  test/integration/failover_stateful_test.lua
  test/integration/fencing_test.lua
  test/integration/state_machine_test.lua
Due: none

Cleanup the patch
  CHANGELOG.rst
  cartridge/failover.lua
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  rst/topics/failover.rst
  test/integration/advertise_change_test.lua
  test/integration/failover_eventual_test.lua
  test/integration/failover_stateful_test.lua
  test/integration/fencing_test.lua
  test/integration/state_machine_test.lua
  test/unit/topology_test.lua
Due: none

Configurable fencing params (#1122)
  CHANGELOG.rst
  cartridge/failover.lua
  cartridge/lua-api/failover.lua
  cartridge/topology.lua
  cartridge/webui/api-failover.lua
  doc/schema.graphql
  rst/topics/failover.rst
  test/integration/advertise_change_test.lua
  test/integration/failover_eventual_test.lua
  test/integration/failover_stateful_test.lua
  test/integration/fencing_test.lua
  test/integration/state_machine_test.lua
  test/unit/topology_test.lua
Due: none

Update uikit
  webui/package-lock.json
  webui/package.json
Due: none

Fix flow
  webui/src/generated/graphql-typing.js
  webui/src/store/reducers/app.reducer.js
Due: cypress

Fix test errors
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/filtering.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/cypress/integration/switchover.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress

temporary solution for the test server-details
  webui/cypress/integration/server-details.spec.js
Due: cypress

Litl fix
  webui/cypress/integration/server-details.spec.js
Due: cypress

Update uikit to 0.29.0 (#1143)
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/filtering.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/cypress/integration/switchover.spec.js
  webui/cypress/integration/users.spec.js
  webui/package-lock.json
  webui/package.json
  webui/src/generated/graphql-typing.js
  webui/src/store/reducers/app.reducer.js
Due: cypress

Set up github actions
  .github/actions/setup-etcd/action.yml
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
  .gitlab-ci.yml
  release.sh
  test/compatibility/cartridge_upgrade_test.lua
  upload.sh
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Address review comments
  .github/actions/setup-etcd/action.yml
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
  upload.sh
Due: none

Fix yaml quotes style
  .github/workflows/backend-test.yml
  .github/workflows/publish.yml
Due: none

Add minor comment
  .github/workflows/backend-test.yml
Due: none

Fix etcd action description
  .github/actions/setup-etcd/action.yml
Due: none

Set up github actions (#1115)
  .github/actions/setup-etcd/action.yml
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
  .gitlab-ci.yml
  release.sh
  test/compatibility/cartridge_upgrade_test.lua
  upload.sh
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Server details makeup WIP
  webui/src/components/ClusterInstanceSection.js
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/ServerDropdown.js
  webui/src/components/ServerInfoModal.js
  webui/src/pages/Cluster/index.js
Due: cypress

Flow fix
  webui/src/store/effector/configUpload.js
Due: cypress

Zone choosing fix
  webui/src/components/ServerDetailsModal/index.js
  webui/src/components/ZoneAddModal.js
  webui/src/store/actionTypes.js
  webui/src/store/effector/clusterZones.js
  webui/src/store/effector/clusterZones/index.js
  webui/src/store/effector/clusterZones/zoneAddModal.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Old error when replicaset is "dead"
  webui/cypress/integration/server-details.spec.js
Due: cypress

Zone removing
  webui/src/components/ServerDetailsModal/index.js
  webui/src/store/effector/clusterZones/index.js
  webui/src/store/effector/clusterZones/zoneAddModal.js
Due: cypress

Fis test: server setails
  webui/cypress/integration/server-details.spec.js
Due: cypress

Adds zones UI * Remove old loading indicator * Show replica issues in details modal
  CHANGELOG.rst
  webui/src/components/CollapsibleJSONRenderer.js
  webui/src/components/HealthStatus.js
  webui/src/components/LeaderLabel/crown-gray.svg
  webui/src/components/LeaderLabel/index.js
  webui/src/components/ServerDetailsModal/CollapsibleJSONRenderer.js
  webui/src/components/ServerDetailsModal/ServerDetailsModalIssues.js
  webui/src/components/ServerDetailsModal/ServerDetailsModalStatTab.js
  webui/src/components/ServerDetailsModal/index.js
  webui/src/components/ServerDropdown.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/ServerShortInfo.js
  webui/src/components/UserAddModal/state.js
  webui/src/components/ZoneAddModal.js
  webui/src/generated/graphql-typing.js
  webui/src/misc/pageRequestIndicator/index.js
  webui/src/misc/pageRequestIndicator/styles.css
  webui/src/pages/Cluster/index.js
  webui/src/store/commonRequest.js
  webui/src/store/effector/cluster.js
  webui/src/store/effector/clusterSuggestions.js
  webui/src/store/effector/clusterZones.js
  webui/src/store/effector/configUpload.js
  webui/src/store/effector/users/state.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/auth.saga.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Redesign server details and replica zones UI (#1098)
  CHANGELOG.rst
  webui/cypress/integration/server-details.spec.js
  webui/src/components/ClusterInstanceSection.js
  webui/src/components/CollapsibleJSONRenderer.js
  webui/src/components/HealthStatus.js
  webui/src/components/LeaderLabel/crown-gray.svg
  webui/src/components/LeaderLabel/index.js
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/ServerDetailsModal/CollapsibleJSONRenderer.js
  webui/src/components/ServerDetailsModal/ServerDetailsModalIssues.js
  webui/src/components/ServerDetailsModal/ServerDetailsModalStatTab.js
  webui/src/components/ServerDetailsModal/index.js
  webui/src/components/ServerDropdown.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/ServerShortInfo.js
  webui/src/components/UserAddModal/state.js
  webui/src/components/ZoneAddModal.js
  webui/src/generated/graphql-typing.js
  webui/src/misc/pageRequestIndicator/index.js
  webui/src/misc/pageRequestIndicator/styles.css
  webui/src/pages/Cluster/index.js
  webui/src/store/actionTypes.js
  webui/src/store/commonRequest.js
  webui/src/store/effector/cluster.js
  webui/src/store/effector/clusterSuggestions.js
  webui/src/store/effector/clusterZones/index.js
  webui/src/store/effector/clusterZones/zoneAddModal.js
  webui/src/store/effector/configUpload.js
  webui/src/store/effector/users/state.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/app.saga.js
  webui/src/store/saga/auth.saga.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Add prepare_2pc config lock issue
  CHANGELOG.rst
  cartridge/issues.lua
  test/integration/issues_test.lua
Due: none

vshard: handle non-default bucket_count when router/storage is stopped
  cartridge/roles/vshard-router.lua
  cartridge/roles/vshard-storage.lua
  test/integration/rebalancing_test.lua
Due: none

Refactor test
  cartridge/issues.lua
  test/integration/issues_test.lua
Due: none

Make test shuffleable
  test/integration/issues_test.lua
Due: none

Remove unnecessary log
  test/integration/issues_test.lua
Due: none

Handle non-default bucket count when vshard is stopped (#1155)
  cartridge/roles/vshard-router.lua
  cartridge/roles/vshard-storage.lua
  test/integration/rebalancing_test.lua
Due: none

Show an issue if two-phase commit is locked (#1147)
  CHANGELOG.rst
  cartridge/issues.lua
  test/integration/issues_test.lua
Due: none

Troubleshooting doc cartridge cli repair (#1030)
  rst/troubleshooting.rst
Due: none

Enable MacOS CI
  .github/actions/setup-etcd/action.yml
  .github/workflows/backend-test.yml
Due: none

Change RPC is_healthy predicate
  CHANGELOG.rst
  cartridge/rpc.lua
  test/unit/rpc_candidates_test.lua
Due: none

Change RPC is_healthy predicate (#1158)
  CHANGELOG.rst
  cartridge/rpc.lua
  test/unit/rpc_candidates_test.lua
Due: none

Speedup Github Actions
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
Due: none

Speedup Github Actions (#1159)
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
Due: none

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
