Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

Same for schema page
  webui/src/store/saga/schema.saga.js
Due: cypress

upd
  webui/src/generated/graphql-typing.js
  webui/src/store/saga/files.saga.js
Due: cypress

changelog
  CHANGELOG.rst
Due: none

update test
  webui/cypress/integration/uninitialized.spec.js
Due: cypress

Fix missing reload error in WebUI code editor page (#1048)
  CHANGELOG.rst
  webui/cypress/integration/uninitialized.spec.js
  webui/src/generated/graphql-typing.js
  webui/src/pages/Code.js
  webui/src/store/actions/files.actions.js
  webui/src/store/saga/files.saga.js
  webui/src/store/saga/schema.saga.js
Due: cypress

gh-1520 reference to config section
  rst/cartridge_dev.rst
Due: none

Evict failover schedule functions
  cartridge/failover.lua
Due: none

Evict failover schedule functions (#1108)
  cartridge/failover.lua
Due: none

Disable consistency for single-instance replicaset
  cartridge/failover.lua
  rst/topics/failover.rst
  test/integration/switchover_test.lua
Due: none

Update webui dependencies
  cartridge-scm-1.rockspec
  webui/cypress/integration/bootstrap.spec.js
  webui/package-lock.json
  webui/package.json
  webui/src/components/AppMessage/AppMessage.js
  webui/src/components/AppMessage/index.js
  webui/src/components/DatePicker/DatePicker.js
  webui/src/components/DatePicker/index.js
  webui/src/components/NoData.js
  webui/src/components/RangePicker/RangePicker.js
  webui/src/components/RangePicker/index.js
  webui/src/components/Table/Table.js
  webui/src/components/Table/index.js
  webui/src/components/Upload/Upload.js
  webui/src/components/Upload/index.js
  webui/src/components/UsersTable.js
Due: cypress

Update graphql-codegen/cli
  Dockerfile.base-ce
  Dockerfile.base-ee
  webui/package-lock.json
  webui/package.json
  webui/src/components/FailoverModal.js
  webui/src/generated/graphql-typing.js
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Update ui-kit
  webui/package-lock.json
  webui/package.json
Due: none

Disable consistency for single-instance replicaset (#1109)
  cartridge/failover.lua
  rst/topics/failover.rst
  test/integration/switchover_test.lua
Due: none

fix bootstrap test
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Update websocket-extensions
  webui/package-lock.json
Due: none

Test upd
  webui/cypress/plugins/index.js
Due: cypress

Update readme
  README.rst
Due: none

Update webui dependencies (#1111)
  Dockerfile.base-ce
  Dockerfile.base-ee
  README.rst
  cartridge-scm-1.rockspec
  webui/cypress/integration/bootstrap.spec.js
  webui/cypress/plugins/index.js
  webui/package-lock.json
  webui/package.json
  webui/src/components/AppMessage/AppMessage.js
  webui/src/components/AppMessage/index.js
  webui/src/components/DatePicker/DatePicker.js
  webui/src/components/DatePicker/index.js
  webui/src/components/FailoverModal.js
  webui/src/components/NoData.js
  webui/src/components/RangePicker/RangePicker.js
  webui/src/components/RangePicker/index.js
  webui/src/components/Table/Table.js
  webui/src/components/Table/index.js
  webui/src/components/Upload/Upload.js
  webui/src/components/Upload/index.js
  webui/src/components/UsersTable.js
  webui/src/generated/graphql-typing.js
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Initial fencing commit
  CHANGELOG.rst
  cartridge/etcd2-client.lua
  cartridge/failover.lua
  cartridge/stateboard-client.lua
  test/integration/fencing_test.lua
Due: none

Fencing doc
  rst/topics/failover.rst
Due: none

Minor enhancements
  cartridge/failover.lua
  rst/topics/failover.rst
Due: none

Replace uglify webpack plugin with terser
  webui/config/webpack.config.prod.js
  webui/package-lock.json
  webui/package.json
Due: none

Replace uglify webpack plugin with terser (#1113)
  webui/config/webpack.config.prod.js
  webui/package-lock.json
  webui/package.json
Due: none

Address review
  cartridge/failover.lua
  rst/topics/failover.rst
  test/integration/fencing_test.lua
Due: none

Refactor internal roles api
  cartridge.lua
  cartridge/roles.lua
  cartridge/topology.lua
  cartridge/utils.lua
  test/unit/roledeps_test.lua
  test/unit/rpc_candidates_test.lua
  test/unit/topology_test.lua
Due: none

Add test for change advertise uri
  webui/cypress/integration/change-advertise-uri.spec.js
Due: cypress

wip: add config for test
  webui/cypress/integration/change-advertise-uri.spec.js
Due: cypress

Try to fix test demo-panel in ci
  webui/cypress/integration/demo-panel.spec.js
Due: cypress

Try to fix test code-page in ci
  webui/cypress/integration/code-page.spec.js
Due: cypress

Change file: support/index.js
  webui/.gitignore
  webui/cypress/support/commands.js
  webui/cypress/support/index.js
Due: cypress

Implement roles hot-reload
  cartridge.lua
  cartridge/confapplier.lua
  cartridge/hotreload.lua
  cartridge/roles.lua
  test/hotreload/myrole_test.lua
  test/hotreload/vshard_test.lua
Due: none

Test changing advertize uri in WebUI (#1114)
  webui/.gitignore
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/code-page.spec.js
  webui/cypress/integration/demo-panel.spec.js
  webui/cypress/support/commands.js
  webui/cypress/support/index.js
Due: cypress

Implement fencing (#1102)
  CHANGELOG.rst
  cartridge/etcd2-client.lua
  cartridge/failover.lua
  cartridge/stateboard-client.lua
  rst/topics/failover.rst
  test/integration/fencing_test.lua
Due: none

Rephrase fencing description
  CHANGELOG.rst
  cartridge/failover.lua
Due: none

Rephrase fencing description (#1119)
  CHANGELOG.rst
  cartridge/failover.lua
Due: none

Fix remote_control_test for tarantool 2.4+
  test/unit/remote_control_test.lua
Due: none

Fix remote_control_test for tarantool 2.4+ (#1118)
  test/unit/remote_control_test.lua
Due: none

gh-587 describe schema upgrading process
  rst/cartridge_admin.rst
Due: none

Users page & cleanup
  webui/package-lock.json
  webui/package.json
  webui/src/components/CodeMirror/CodeMirror.css
  webui/src/components/CodeMirror/CodeMirror.js
  webui/src/components/CodeMirror/index.js
  webui/src/components/CollapsibleJSONRenderer.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/FieldGroup.js
  webui/src/components/NoData.js
  webui/src/components/ServerInfoModal.js
  webui/src/components/SpinnerLoader.js
  webui/src/components/UserEditModal/UserEditForm.js
  webui/src/components/UsersTable.js
  webui/src/constants.js
  webui/src/misc/replicasetFormFunctions.js
  webui/src/pages/Cluster/index.js
  webui/src/pages/Users/index.js
  webui/src/store/saga/files.saga.js
  webui/src/store/selectors/clusterPage.js
Due: cypress

wip: users forms
  webui/src/components/ReplicasetServerListItem/index.js
  webui/src/components/UserAddModal/UserAddForm.js
  webui/src/components/UserAddModal/index.js
  webui/src/components/UserAddModal/state.js
  webui/src/components/UserEditModal/UserEditForm.js
  webui/src/components/UserEditModal/index.js
  webui/src/components/UserEditModal/state.js
  webui/src/components/UserRemoveModal/index.js
  webui/src/components/UsersTable.js
  webui/src/misc/effectorForms.js
  webui/src/pages/Users/index.js
  webui/src/store/effector/users/index.js
  webui/src/store/effector/users/init.js
  webui/src/store/effector/users/state.js
Due: cypress
