Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

docker-build-ee-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.3:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.6:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee-1.10
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - ./frontend-test.sh
  - ./cypress-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Add two-phase commit VERSION
  CHANGELOG.rst
  cartridge/twophase.lua
Due: none

Add two-phase commit VERSION (#1327)
  CHANGELOG.rst
  cartridge/twophase.lua
Due: none

wip: force apply config
  webui/cypress/integration/force-apply-config.spec.js
Due: cypress

Force apply config test
  webui/cypress/integration/force-apply-config.spec.js
Due: cypress

Avoid WebUI and pool.map_call requests hanging
  CHANGELOG.rst
  cartridge/lua-api/boxinfo.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/stat.lua
  cartridge/pool.lua
  cartridge/roles/vshard-router.lua
  cartridge/rpc.lua
  cartridge/vshard-utils.lua
  cartridge/webui/api-ddl.lua
  test/integration/ddl_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/rpc_test.lua
  test/integration/slow_requests_test.lua
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress

Enhance the test
  webui/cypress/integration/force-apply-config.spec.js
Due: cypress

Avoid WebUI and pool.map_call requests hanging (#1291)
  CHANGELOG.rst
  cartridge/lua-api/boxinfo.lua
  cartridge/lua-api/deprecated.lua
  cartridge/lua-api/stat.lua
  cartridge/pool.lua
  cartridge/roles/vshard-router.lua
  cartridge/rpc.lua
  cartridge/vshard-utils.lua
  cartridge/webui/api-ddl.lua
  test/integration/ddl_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/rpc_test.lua
  test/integration/slow_requests_test.lua
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress

Use get_state instead of wish_state in prepare_2pc
  CHANGELOG.rst
  cartridge/twophase.lua
  test/integration/state_machine_test.lua
Due: none

Rephrase changelog
  CHANGELOG.rst
Due: none

Use get_state instead of wish_state in prepare_2pc (#1331)
  CHANGELOG.rst
  cartridge/twophase.lua
  test/integration/state_machine_test.lua
Due: none

Enhance stateboard logs
  cartridge/stateboard.lua
Due: none

Enhance stateboard logs (#1333)
  cartridge/stateboard.lua
Due: none

Release v2.5.1
  CHANGELOG.rst
Due: none

Release v2.5.1 (#1334)
  CHANGELOG.rst
Due: none

Fix hotreload.myrole_test for macOS
  test/hotreload/myrole_test.lua
Due: none

Revise levels of replication issues
  CHANGELOG.rst
  cartridge/issues.lua
  test/integration/failover_eventual_test.lua
  test/integration/issues_test.lua
  test/integration/state_machine_test.lua
  test/integration/switchover_test.lua
  webui/cypress/integration/sigstop.spec.js
Due: cypress

Revise levels of replication issues (#1335)
  CHANGELOG.rst
  cartridge/issues.lua
  test/integration/failover_eventual_test.lua
  test/integration/issues_test.lua
  test/integration/state_machine_test.lua
  test/integration/switchover_test.lua
  webui/cypress/integration/sigstop.spec.js
Due: cypress

Enhance the test
  webui/cypress/integration/force-apply-config.spec.js
  webui/src/components/ForceApplySuggestionModal.js
Due: cypress

Add cypress test on force_apply suggestion (#1330)
  webui/cypress/integration/force-apply-config.spec.js
  webui/src/components/ForceApplySuggestionModal.js
Due: cypress

Run stateboard in CLI by default
  .cartridge.yml
Due: none

Make cli to run stateboard by default (#1337)
  .cartridge.yml
Due: none

Add case "uncomment and apply Example"
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

Test example schema creation in cypress (#1339)
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

fix funcall compatibility
  cartridge/graphql/funcall.lua
Due: none

fix funcall compatibility (#1349)
  cartridge/graphql/funcall.lua
Due: none

Fix hotreload.myrole_test for macOS (#1338)
  test/hotreload/myrole_test.lua
Due: none

Updates frontend-core to 7.6.0
  cartridge-scm-1.rockspec
  webui/package-lock.json
  webui/package.json
Due: none

Updates frontend-core to 7.6.0 (#1350)
  cartridge-scm-1.rockspec
  webui/package-lock.json
  webui/package.json
Due: none

Fix flaky test: schema
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

Fix flaky cypress test for schema page (#1351)
  webui/cypress/integration/schema-editor.spec.js
Due: cypress

wip: Parallelization
  .github/workflows/frontend-test.yml
Due: none

Try2
  .github/workflows/frontend-test.yml
Due: none

try4
  .github/workflows/frontend-test.yml
Due: none

Make of use zero timeouts
  cartridge/pool.lua
  test/integration/pool_connect_test.lua
Due: none

Make of use async netbox calls at pool.map_call
  cartridge/pool.lua
Due: none

try 5: add cleanup for front-test job
  .github/workflows/frontend-test.yml
Due: none

Add rst docs to Crowdin
  .github/workflows/upload-translations.yml
  CMakeLists.txt
  crowdin.yaml
  rst/locale/en/cartridge_admin.pot
  rst/locale/en/cartridge_dev.pot
  rst/locale/en/cartridge_overview.pot
  rst/locale/en/index.pot
  rst/locale/en/troubleshooting.pot
  rst/locale/index.pot
  rst/locale/troubleshooting.pot
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Fixes * Don't use while loop at map_call * Fix tests
  cartridge/pool.lua
  test/integration/pool_connect_test.lua
  test/integration/pool_map_call_test.lua
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress

Minify frontend job
  .github/workflows/frontend-test.yml
Due: none

Parallelize cypress tests (#1342)
  .github/workflows/frontend-test.yml
Due: none

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
