Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

topology: add topology obj to clusterwide config
  cartridge/clusterwide-config.lua
Due: none

topology: disable validation in vshard-utils.lua
  cartridge/vshard-utils.lua
Due: none

topology: use topology api in can_bootstrap()
  cartridge/vshard-utils.lua
Due: none

topology: use topology api in find_server_by_uri()
  cartridge/confapplier.lua
  cartridge/topology.lua
Due: none

topology: use topology api in refine_servers_uri()
  cartridge/issues.lua
  cartridge/lua-api/get-topology.lua
  cartridge/topology.lua
  cartridge/twophase.lua
  cartridge/webui/api-suggestions.lua
Due: none

topology: use topology api in boot_instance()
  cartridge/confapplier.lua
Due: none

fix unhandled error on config load
  cartridge/clusterwide-config.lua
  test/unit/clusterwide_config_test.lua
Due: none

Fix unhandled error on config load (#1446)
  cartridge/clusterwide-config.lua
  test/unit/clusterwide_config_test.lua
Due: none

Don't start instances which are absent in instances.yml
  CHANGELOG.rst
  cartridge/argparse.lua
  test/unit/argparse_test.lua
Due: none

Test more corner cases
  cartridge/argparse.lua
  test/unit/argparse_test.lua
Due: none

Add pull/push workflow for translations
  .github/workflows/pull-translation.yml
  .github/workflows/push-translation.yml
  .github/workflows/upload-translations.yml
  CMakeLists.txt
  rst/locale/cleanup.py
Due: none

Remove POT files
  .gitignore
  rst/locale/en/cartridge_admin.pot
  rst/locale/en/cartridge_dev.pot
  rst/locale/en/cartridge_overview.pot
  rst/locale/en/index.pot
  rst/locale/en/troubleshooting.pot
Due: none

trigger translation
  rst/index.rst
Due: none

Prevent running code workflows on doc changes
  .github/workflows/backend-test.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
Due: none

Add pull/push workflow for translations (#1448)
  .github/workflows/backend-test.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
  .github/workflows/pull-translation.yml
  .github/workflows/push-translation.yml
  .github/workflows/upload-translations.yml
  .gitignore
  CMakeLists.txt
  rst/index.rst
  rst/locale/cleanup.py
  rst/locale/en/cartridge_admin.pot
  rst/locale/en/cartridge_dev.pot
  rst/locale/en/cartridge_overview.pot
  rst/locale/en/index.pot
  rst/locale/en/troubleshooting.pot
Due: none

Fix github actions paths-ignore
  .github/workflows/backend-test.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
Due: none

Fix github actions paths-ignore (#1449)
  .github/workflows/backend-test.yml
  .github/workflows/compatibility-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/publish.yml
Due: none

Stricter section control
  cartridge/argparse.lua
  test/unit/argparse_test.lua
Due: none

Optimize the code and cleanup the test
  cartridge/argparse.lua
  test/unit/argparse_test.lua
Due: none

Don't start instances that are absent in instances.yml (#1447)
  CHANGELOG.rst
  cartridge/argparse.lua
  test/unit/argparse_test.lua
Due: none

Add failover polling
  webui/src/components/FailoverButton.js
  webui/src/store/reducers/clusterPage.reducer.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Add polib to docs requirements.txt
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Add polib to docs requirements.txt (#1454)
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Add zones to helpers
  CHANGELOG.rst
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  test/integration/zones_test.lua
Due: none

Add loading failover on open Modal
  webui/src/components/FailoverModal.js
  webui/src/store/actionTypes.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/reducers/clusterPage.reducer.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

fix tests
  webui/src/generated/graphql-typing.js
  webui/src/store/request/queries.graphql.js
Due: cypress

Add failover polling in WebUI (#1452)
  webui/src/components/FailoverButton.js
  webui/src/components/FailoverModal.js
  webui/src/generated/graphql-typing.js
  webui/src/store/actionTypes.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/reducers/clusterPage.reducer.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Update frontend-core module to 7.9.1
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Update frontend-core module to 7.9.1 (#1451)
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Add zones to helpers (#1453)
  CHANGELOG.rst
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  test/integration/zones_test.lua
Due: none

Add test for auth: check empty fields, close modal forms with X and ESC Add close form with X in probe Add test to check information about healthy, unhealthy, server count in disable server
  instances.yml
  webui/cypress/integration/auth.spec.js
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/probe-server.spec.js
  webui/package-lock.json
Due: cypress

Remove expelled instances from _cluster
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/topology.lua
  test/integration/expel_test.lua
Due: none

Remove expelled instances from _cluster (#1455)
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/topology.lua
  test/integration/expel_test.lua
Due: none

Added set value from console and check correct values for failover: * mode = 'eventual' * mode = 'disable'
  webui/cypress/integration/failover.spec.js
Due: cypress

Fix pull translation fail on cleanup-po
  .github/workflows/pull-translation.yml
Due: none

Fix pull translation fail on cleanup-po (#1459)
  .github/workflows/pull-translation.yml
Due: none

Added set value from console and check correct values for failover: * modeStatefulTarantool()
  webui/cypress/integration/auth.spec.js
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/failover.spec.js
Due: cypress

Added set value from console and check correct values for failover: * modeStatefulTarantool() * modeStatefulEtcd2()
  webui/cypress/integration/failover.spec.js
Due: cypress

Test commit
  webui/cypress/integration/failover.spec.js
Due: cypress

Added { force: true } to click on the failover button Removed pw for admin from rep
  instances.yml
  webui/cypress/integration/failover.spec.js
Due: cypress
