Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*

Add rst docs to Crowdin (#1355)
  .github/workflows/upload-translations.yml
  CMakeLists.txt
  crowdin.yaml
  rst/locale/en/cartridge_admin.pot
  rst/locale/en/cartridge_dev.pot
  rst/locale/en/cartridge_overview.pot
  rst/locale/en/index.pot
  rst/locale/en/troubleshooting.pot
  rst/locale/index.pot
  rst/locale/troubleshooting.pot
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Make of use async netbox calls at pool.map_call
  cartridge/pool.lua
  test/integration/pool_connect_test.lua
  test/integration/pool_map_call_test.lua
  webui/cypress/integration/disable-server.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress

Fix
  cartridge/pool.lua
  test/integration/pool_map_call_test.lua
  test/integration/slow_requests_test.lua
Due: none

Updates authorised user icon
  webui/src/components/HeaderAuthControl/index.js
  webui/src/components/HeaderAuthControl/user.svg
Due: cypress

Extend tests to cover cartridge.pool module
  test/integration/pool_connect_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/slow_requests_test.lua
Due: none

Extend tests to cover cartridge.pool module (#1363)
  test/integration/pool_connect_test.lua
  test/integration/pool_map_call_test.lua
  test/integration/slow_requests_test.lua
Due: none

Preserve fiber.storage during pool.map_call
  cartridge/pool.lua
  test/integration/pool_map_call_test.lua
Due: none

Single out fiber_csw utility function
  cartridge/failover.lua
  cartridge/utils.lua
  test/integration/pool_connect_test.lua
  test/unit/wait_lsn_test.lua
Due: none

Preserve fiber.storage during pool.map_call (#1362)
  cartridge/pool.lua
  test/integration/pool_map_call_test.lua
Due: none

Add fiber_csw utility function (#1366)
  cartridge/failover.lua
  cartridge/utils.lua
  test/integration/pool_connect_test.lua
  test/unit/wait_lsn_test.lua
Due: none

Update authorised user icon in WebUI (#1365)
  webui/src/components/HeaderAuthControl/index.js
  webui/src/components/HeaderAuthControl/user.svg
Due: cypress

Highlights if file exists on Code page
  CHANGELOG.rst
  webui/package-lock.json
  webui/package.json
  webui/src/components/FileTree/FileTreeElement.js
  webui/src/components/FileTree/NewTreeElement.js
  webui/src/components/FileTree/index.js
  webui/src/components/FileTree/styles.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/pages/Code.js
  webui/src/store/selectors/filesSelectors.js
Due: cypress

Highlight if file exists on Code page (#1345)
  CHANGELOG.rst
  webui/package-lock.json
  webui/package.json
  webui/src/components/FileTree/FileTreeElement.js
  webui/src/components/FileTree/NewTreeElement.js
  webui/src/components/FileTree/index.js
  webui/src/components/FileTree/styles.js
  webui/src/components/ReplicasetList/ReplicasetList.js
  webui/src/pages/Code.js
  webui/src/store/selectors/filesSelectors.js
Due: cypress

Refactor tests
  .github/workflows/backend-test.yml
  cartridge/twophase.lua
  test/integration/state_machine_test.lua
Due: none

remote-control accepts connections in the InitError state
  CHANGELOG.rst
  cartridge/confapplier.lua
  test/integration/state_machine_test.lua
Due: none

Address review
  CHANGELOG.rst
  cartridge/confapplier.lua
  test/integration/state_machine_test.lua
Due: none

Accept remote-control connections in InitError state (#1370)
  .github/workflows/backend-test.yml
  CHANGELOG.rst
  cartridge/confapplier.lua
  cartridge/twophase.lua
  test/integration/state_machine_test.lua
Due: none

Add check for test: code page
  webui/cypress/integration/code-page.spec.js
Due: cypress

Add check for code page: same name for folder
  webui/cypress/integration/code-page.spec.js
Due: cypress

Test filename collision on the Code page (#1374)
  webui/cypress/integration/code-page.spec.js
Due: cypress

Add eventloop speedometer with refreshing membership payload
  cartridge.lua
  cartridge/eventloop-speedometer.lua
  test/integration/eventloop_speed_test.lua
Due: none

Fix lint
  cartridge/eventloop-speedometer.lua
  test/integration/eventloop_speed_test.lua
Due: none

Update vshard to 0.1.17
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  cartridge/vshard-utils.lua
  cartridge/webui/api-vshard.lua
  doc/schema.graphql
  test/integration/multisharding_one_test.lua
  test/integration/multisharding_two_test.lua
  test/unit/vshard_config_test.lua
Due: none

Update vshard to 0.1.17 (#1379)
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  cartridge/vshard-utils.lua
  cartridge/webui/api-vshard.lua
  doc/schema.graphql
  test/integration/multisharding_one_test.lua
  test/integration/multisharding_two_test.lua
  test/unit/vshard_config_test.lua
Due: none

Update module graphql 0.1.0 -> 0.1.1
  .gitignore
  cartridge-scm-1.rockspec
Due: none

Improve changelog
  .gitignore
  CHANGELOG.rst
Due: none

Update module graphql 0.1.0 -> 0.1.1 (#1382)
  .gitignore
  CHANGELOG.rst
  cartridge-scm-1.rockspec
Due: none

Simple failover setup for tests
  CHANGELOG.rst
  cartridge/test-helpers.lua
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  cartridge/test-helpers/stateboard.lua
  config.ld
  stateboard.init.lua
  test/integration/failover_stateful_test.lua
  test/integration/fencing_test.lua
  test/integration/stateboard_test.lua
  test/integration/switchover_test.lua
  test/unit/helpers_test.lua
Due: none

Simplify failover setup for tests (#1358)
  CHANGELOG.rst
  cartridge/test-helpers.lua
  cartridge/test-helpers/cluster.lua
  cartridge/test-helpers/server.lua
  cartridge/test-helpers/stateboard.lua
  config.ld
  stateboard.init.lua
  test/integration/failover_stateful_test.lua
  test/integration/fencing_test.lua
  test/integration/stateboard_test.lua
  test/integration/switchover_test.lua
  test/unit/helpers_test.lua
Due: none

Reproduce the bug in tests
  test/integration/stateboard_test.lua
Due: none

Fix stateboard longpolling inconsistency
  cartridge/stateboard-client.lua
  cartridge/stateboard.lua
  test/integration/stateboard_test.lua
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Remove unnecessary pcall and fiber.sleep
  test/hotreload/vshard_test.lua
Due: none

Remove unnecessary pcall and fiber.sleep (#1385)
  test/hotreload/vshard_test.lua
Due: none

Fix stateboard longpolling inconsistency (#1384)
  CHANGELOG.rst
  cartridge/stateboard-client.lua
  cartridge/stateboard.lua
  test/integration/stateboard_test.lua
Due: none

Fix messaging
  CHANGELOG.rst
  cartridge/twophase.lua
  test/integration/twophase_test.lua
Due: none

Split function
  cartridge/twophase.lua
Due: none

Invade the patch
  CHANGELOG.rst
  cartridge/twophase.lua
  test/integration/twophase_test.lua
Due: none

Add twopase_commit function (#1381)
  cartridge/twophase.lua
  test/integration/twophase_test.lua
Due: none

Move ddl-manager code to the ddl rock
  CHANGELOG.rst
  cartridge-scm-1.rockspec
  cartridge/confapplier.lua
  cartridge/ddl-manager.lua
  cartridge/roles.lua
  cartridge/twophase.lua
  cartridge/webui/api-ddl.lua
  test/integration/ddl_test.lua
  test/integration/hidden_roles_test.lua
  test/unit/roledeps_test.lua
Due: none
