Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2, cypress-auto

docker-build-ee:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.2:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress-auto:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - luatest -v -p cypress.*
  - ./frontend-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Under development
  topics/clusterwide-config.md
Due: none

Enhance clusterwide config documentation
  config.ld
  topics/clusterwide-config.md
Due: none

Address review comments
  topics/clusterwide-config.md
Due: none

Fix markup
  topics/clusterwide-config.md
Due: none

Document clusterwide configuration (#778)
  config.ld
  topics/clusterwide-config.md
Due: none

Test for application name
  test/cypress/basic_test.lua
  webui/cypress/integration/application-name.spec.js
  webui/cypress/integration/schema-editor.spec.js
Due: cypress-auto

Fix problems with cypress-auto
  webui/cypress/integration/code-folder-in-tree.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/network-error-splash.spec.js
  webui/cypress/integration/server-details-dead-server.spec.js
Due: cypress-auto

Cleanup the test
  test/cypress/basic_test.lua
  webui/cypress/integration/application-name.spec.js
Due: cypress-auto

Test for application name (#824)
  test/cypress/basic_test.lua
  webui/cypress/integration/application-name.spec.js
  webui/cypress/integration/code-folder-in-tree.spec.js
  webui/cypress/integration/failover.spec.js
  webui/cypress/integration/network-error-splash.spec.js
  webui/cypress/integration/schema-editor.spec.js
  webui/cypress/integration/server-details-dead-server.spec.js
Due: cypress-auto

Fix phrasing
  topics/state-machine.md
Due: none

Enable linting for graphql
  .luacheckrc
  cartridge/graphql.lua
  cartridge/graphql/execute.lua
  cartridge/graphql/introspection.lua
  cartridge/graphql/parse.lua
  cartridge/graphql/query_util.lua
  cartridge/graphql/rules.lua
  cartridge/graphql/types.lua
  cartridge/graphql/validate.lua
Due: none

fix typo in eventual failover mode description
  webui/src/components/FailoverModal.js
Due: cypress-auto

Fix typo in WebUI failover description (#833)
  webui/src/components/FailoverModal.js
Due: cypress-auto

Enable linting for graphql (#830)
  .luacheckrc
  cartridge/graphql.lua
  cartridge/graphql/execute.lua
  cartridge/graphql/introspection.lua
  cartridge/graphql/parse.lua
  cartridge/graphql/query_util.lua
  cartridge/graphql/rules.lua
  cartridge/graphql/types.lua
  cartridge/graphql/validate.lua
Due: none

Fix uninitialize test
  webui/cypress/integration/uninitialized.spec.js
Due: cypress-auto

Test for empty username
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/remove-user.spec.js
Due: cypress-auto

fix remove-user test (try1)
  webui/cypress/integration/remove-user.spec.js
Due: cypress-auto

Edit tests (try 1)
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/remove-user.spec.js
  webui/cypress/integration/uninitialized.spec.js
Due: cypress-auto

fix remove user test( try 1)
  webui/cypress/integration/remove-user.spec.js
Due: cypress-auto

Edit uninitialized test
  webui/cypress/integration/uninitialized.spec.js
Due: cypress-auto

Describe frontend core events in readme
  webui/README.md
Due: none

Update eslint
  webui/package-lock.json
  webui/package.json
Due: none

1. Edit users test 2. Add check in uninitialized test 3. Edit login and logout test
  test/cypress/basic_test.lua
  webui/cypress/integration/add-user.spec.js
  webui/cypress/integration/edit-user.spec.js
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/remove-user.spec.js
  webui/cypress/integration/uninitialized.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Fix basic_test
  test/cypress/basic_test.lua
Due: cypress-auto

Edit login and logout test
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Add sphinx-html and ldoc-rst targets
  .gitignore
  CMakeLists.txt
  cmake/FindSphinx.cmake
  rst/cartridge_admin.rst
  rst/cartridge_dev.rst
  rst/cartridge_overview.rst
  rst/conf.py
  rst/images/auth_creds-border-5px.png
  rst/images/change-weight-border-5px.png
  rst/images/create-router-border-5px.png
  rst/images/create-storage-border-5px.png
  rst/images/edit-replica-set-border-5px.png
  rst/images/enabled-failover-border-5px.png
  rst/images/expelling-instance-border-5px.png
  rst/images/failover-border-5px.png
  rst/images/failover-control-border-5px.png
  rst/images/failover-priority-border-5px.png
  rst/images/final-cluster-border-5px.png
  rst/images/join-storage-border-5px.png
  rst/images/probe-server-border-5px.png
  rst/images/router-replica-set-border-5px.png
  rst/images/switch-master-border-5px.png
  rst/images/unconfigured-router-border-5px.png
  rst/images/users-tab-border-5px.png
  rst/images/vshard-bootstrap-border-5px.png
  rst/images/zero-border-5px.png
  rst/images/zero-weight-border-5px.png
  rst/index.rst
Due: none

Use proper ldoc version
  Dockerfile.base-ce
  Dockerfile.base-ee
  README.md
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Add sphinx dependency at rst/requiremtns.txt
  .gitlab-ci.yml
  README.md
  rst/requirements.txt
Due: none

Fix CI and CMake doc building
  CMakeLists.txt
  rst/requirements.txt
Due: none

Use python3 for CI
  Dockerfile.base-ce
  Dockerfile.base-ee
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Cleanup CI
  .gitlab-ci.yml
  CMakeLists.txt
Due: none

Fix damaged images
  .gitattributes
  rst/images/auth_creds-border-5px.png
  rst/images/change-weight-border-5px.png
  rst/images/create-router-border-5px.png
  rst/images/create-storage-border-5px.png
  rst/images/edit-replica-set-border-5px.png
  rst/images/enabled-failover-border-5px.png
  rst/images/expelling-instance-border-5px.png
  rst/images/failover-border-5px.png
  rst/images/failover-control-border-5px.png
  rst/images/failover-priority-border-5px.png
  rst/images/final-cluster-border-5px.png
  rst/images/join-storage-border-5px.png
  rst/images/probe-server-border-5px.png
  rst/images/router-replica-set-border-5px.png
  rst/images/switch-master-border-5px.png
  rst/images/unconfigured-router-border-5px.png
  rst/images/users-tab-border-5px.png
  rst/images/vshard-bootstrap-border-5px.png
  rst/images/zero-border-5px.png
  rst/images/zero-weight-border-5px.png
Due: none

Refactor documentation (#838)
  .gitattributes
  .gitignore
  .gitlab-ci.yml
  CMakeLists.txt
  Dockerfile.base-ce
  Dockerfile.base-ee
  README.md
  cmake/FindSphinx.cmake
  rst/cartridge_admin.rst
  rst/cartridge_dev.rst
  rst/cartridge_overview.rst
  rst/conf.py
  rst/images/auth_creds-border-5px.png
  rst/images/change-weight-border-5px.png
  rst/images/create-router-border-5px.png
  rst/images/create-storage-border-5px.png
  rst/images/edit-replica-set-border-5px.png
  rst/images/enabled-failover-border-5px.png
  rst/images/expelling-instance-border-5px.png
  rst/images/failover-border-5px.png
  rst/images/failover-control-border-5px.png
  rst/images/failover-priority-border-5px.png
  rst/images/final-cluster-border-5px.png
  rst/images/join-storage-border-5px.png
  rst/images/probe-server-border-5px.png
  rst/images/router-replica-set-border-5px.png
  rst/images/switch-master-border-5px.png
  rst/images/unconfigured-router-border-5px.png
  rst/images/users-tab-border-5px.png
  rst/images/vshard-bootstrap-border-5px.png
  rst/images/zero-border-5px.png
  rst/images/zero-weight-border-5px.png
  rst/index.rst
  rst/requirements.txt
Due: docker-build-ee, docker-build-ce-1.10, docker-build-ce-2.2

Cleanup tests
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Test for empty username in WebUI (#831)
  test/cypress/basic_test.lua
  webui/cypress/integration/add-user.spec.js
  webui/cypress/integration/edit-user.spec.js
  webui/cypress/integration/login-and-logout.spec.js
  webui/cypress/integration/remove-user.spec.js
  webui/cypress/integration/uninitialized.spec.js
  webui/cypress/integration/users.spec.js
Due: cypress-auto

Edit tests: add newlines
  webui/cypress/integration/auth-switcher-moved.spec.js
  webui/cypress/integration/auth-switcher-not-moved.spec.js
  webui/cypress/integration/auth.spec.js
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/default-group-test.spec.js
  webui/cypress/integration/demo-panel-not-present.spec.js
  webui/cypress/integration/demo-panel-present.spec.js
  webui/cypress/integration/download-configuration.spec.js
  webui/cypress/integration/edit-replicaset.spec.js
  webui/cypress/integration/expel-server.spec.js
  webui/cypress/integration/join-replicaset.spec.js
  webui/cypress/integration/search.spec.js
  webui/cypress/integration/server-details.spec.js
Due: cypress-auto

Fix trailing newlines everywhere
  LICENSE
  cartridge/service-registry.lua
  webui/cypress/integration/code-empty-page.spec.js
  webui/src/components/SchemaEditor/index.js
  webui/src/misc/files.utils.test.js
  webui/src/store/reducers/schema.reducer.js
Due: cypress-auto

Describe frontend core events in readme (#836)
  webui/README.md
Due: none

Update eslint (#837)
  webui/package-lock.json
  webui/package.json
Due: none

Fix trailing newlines everywhere (#834)
  LICENSE
  cartridge/service-registry.lua
  webui/cypress/integration/auth-switcher-moved.spec.js
  webui/cypress/integration/auth-switcher-not-moved.spec.js
  webui/cypress/integration/auth.spec.js
  webui/cypress/integration/code-empty-page.spec.js
  webui/cypress/integration/create-replicasets-and-botstrap.spec.js
  webui/cypress/integration/default-group-test.spec.js
  webui/cypress/integration/demo-panel-not-present.spec.js
  webui/cypress/integration/demo-panel-present.spec.js
  webui/cypress/integration/download-configuration.spec.js
  webui/cypress/integration/edit-replicaset.spec.js
  webui/cypress/integration/expel-server.spec.js
  webui/cypress/integration/join-replicaset.spec.js
  webui/cypress/integration/search.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/src/components/SchemaEditor/index.js
  webui/src/misc/files.utils.test.js
  webui/src/store/reducers/schema.reducer.js
Due: cypress-auto

Path conditions:
  docker-build-ee: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-1.10: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  docker-build-ce-2.2: any of: Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt
  cypress-auto: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
