Repository tarantool/cartridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6, cypress

docker-build-ee-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-1.10:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.3:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

docker-build-ce-2.6:
  stage: prebuild
  tags:
  - shell
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - docker pull ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG} || true
  ...

cypress:
  image: ${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${IMAGE_TAG}
  stage: test
  tags:
  - docker
  variables:
    IMAGE_NAME: base-ee-1.10
  before_script:
  - ls -al
  - tarantoolctl rocks make
  - tarantoolctl rocks list
  script:
  - ./frontend-test.sh
  - ./cypress-test.sh
  after_script:
  - tarantoolctl rocks remove cartridge
  ...

Add disability state action
  CHANGELOG.rst
  webui/src/components/ServerDetailsModal/index.js
  webui/src/components/ServerDropdown.js
  webui/src/store/actionTypes.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

add
  webui/src/components/FlatList.js
Due: cypress

Test fix
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/src/components/ReplicasetServerList.js
Due: cypress

Display if server disabled in details modal
  webui/src/components/Label.js
  webui/src/components/LeaderLabel/index.js
  webui/src/components/ServerDetailsModal/index.js
Due: cypress

Fix version generation upon publishing (#1250)
  .github/workflows/publish.yml
Due: none

Test
  webui/cypress/integration/server-details.spec.js
Due: cypress

Indicate disabled instances in WebUI (#1247)
  CHANGELOG.rst
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/cypress/integration/server-details.spec.js
  webui/src/components/FlatList.js
  webui/src/components/Label.js
  webui/src/components/LeaderLabel/index.js
  webui/src/components/ReplicasetServerList.js
  webui/src/components/ReplicasetServerListItem.js
  webui/src/components/ServerDetailsModal/index.js
  webui/src/components/ServerDropdown.js
  webui/src/generated/graphql-typing.js
  webui/src/store/actionTypes.js
  webui/src/store/actions/clusterPage.actions.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/saga/clusterPage.saga.js
Due: cypress

Handle errors in frontend build script
  webui/BuildFrontend.cmake
Due: none

Fix flaky ddl.test_space_removal test
  test/integration/ddl_test.lua
Due: none

Handle errors in frontend build script (#1253)
  webui/BuildFrontend.cmake
Due: none

Fix frontend build script
  webui/BuildFrontend.cmake
Due: none

Fix flaky ddl.test_space_removal test (#1254)
  test/integration/ddl_test.lua
Due: none

Fix frontend build script (#1255)
  webui/BuildFrontend.cmake
Due: none

Replace advertise URI suggestion title
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/src/components/ClusterSuggestionsModal.js
  webui/src/components/ClusterSuggestionsPanel.js
Due: cypress

fix: rst/requirements.txt to reduce vulnerabilities
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Replace advertise URI suggestion title (#1256)
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/src/components/ClusterSuggestionsModal.js
  webui/src/components/ClusterSuggestionsPanel.js
Due: cypress

Fix rst/requirements.txt to reduce vulnerabilities (#1257)
  rst/requirements.txt
Due: docker-build-ee-1.10, docker-build-ce-1.10, docker-build-ce-2.3, docker-build-ce-2.6

Use `implies_router` and `implies_storage` in UI
  CHANGELOG.rst
  webui/src/components/BootstrapPanel.js
  webui/src/components/ConfigureServerModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/EditReplicasetModal.js
  webui/src/constants.js
  webui/src/misc/replicasetFormFunctions.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/selectors/clusterPage.js
Due: cypress

Multiple roles
  webui/src/components/BootstrapPanel.js
  webui/src/components/ConfigureServerModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/EditReplicasetModal.js
  webui/src/misc/replicasetFormFunctions.js
  webui/src/store/selectors/clusterPage.js
Due: cypress

use libgraphqlparser for graphql ast build
  CMakeLists.txt
  cartridge-scm-1.rockspec
  cartridge/graphql/parse.lua
  cartridge/test-helpers/cluster.lua
  test/compatibility/cartridge_upgrade_test.lua
  test/compatibility/config_test.lua
  test/integration/admin_test.lua
  test/integration/advertise_change_test.lua
  test/integration/api_join_test.lua
  test/integration/api_query_test.lua
  test/integration/api_uninitialized_test.lua
  test/integration/auth_test.lua
  test/integration/disable_test.lua
  test/integration/failover_eventual_test.lua
  test/integration/graphql_test.lua
  test/integration/join_synchronous_test.lua
  test/integration/multiboot_test.lua
  test/integration/multijoin_existing_test.lua
  test/integration/multisharding_one_test.lua
  test/integration/multisharding_two_test.lua
  test/integration/reboot_test.lua
  test/integration/rejoin_test.lua
  test/integration/state_machine_test.lua
  test/integration/test_pass.py
  test/unit/graphql_test.lua
  webui/cypress/integration/bootstrap.spec.js
  webui/cypress/integration/uninitialized.spec.js
Due: cypress

graphql: support "null" arguments
  cartridge/graphql/util.lua
  test/integration/graphql_test.lua
Due: none

Add
  test/entrypoint/srv_basic.lua
  test/integration/myrole_test.lua
Due: none

Add a test
  webui/cypress/integration/bootstrap.spec.js
Due: cypress

Support implies_storage role flag in WebUI (#1259)
  CHANGELOG.rst
  test/entrypoint/srv_basic.lua
  test/integration/myrole_test.lua
  webui/cypress/integration/bootstrap.spec.js
  webui/src/components/BootstrapPanel.js
  webui/src/components/ConfigureServerModal.js
  webui/src/components/CreateReplicasetForm.js
  webui/src/components/EditReplicasetForm.js
  webui/src/components/EditReplicasetModal.js
  webui/src/constants.js
  webui/src/misc/replicasetFormFunctions.js
  webui/src/store/request/queries.graphql.js
  webui/src/store/selectors/clusterPage.js
Due: cypress

Add bootstrap proxy calls
  CHANGELOG.rst
  cartridge/lua-api/edit-topology.lua
  cartridge/lua-api/get-topology.lua
  cartridge/lua-api/vshard.lua
  cartridge/rpc.lua
  test/integration/proxy_calls_test.lua
Due: none

Remove circular tables from get_servers api
  cartridge/lua-api/get-topology.lua
Due: none

Remove circular tables from get_topology
  cartridge/lua-api/get-topology.lua
  test/integration/api_query_test.lua
Due: none

Fix replicasetes and test
  cartridge/lua-api/get-topology.lua
  test/integration/api_query_test.lua
Due: none

Add CHANGELOG
  CHANGELOG.rst
  cartridge/lua-api/get-topology.lua
Due: none

Remove circular tables from get_topology
  CHANGELOG.rst
  cartridge/lua-api/get-topology.lua
  test/integration/api_query_test.lua
Due: none

Cleanup
  cartridge/lua-api/edit-topology.lua
  cartridge/lua-api/get-topology.lua
  test/integration/proxy_calls_test.lua
Due: none

Reorganize modules
  cartridge/clusterwide-config.lua
  cartridge/utils.lua
  test/unit/utils_test.lua
Due: none

Reorganize modules (#1272)
  cartridge/clusterwide-config.lua
  cartridge/utils.lua
  test/unit/utils_test.lua
Due: none

Adds disable servers suggestion webui
  CHANGELOG.rst
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/src/components/AdvertiseURISuggestionModal.js
  webui/src/components/ClusterSuggestionsPanel.js
  webui/src/components/DisableServersSuggestionModal.js
  webui/src/generated/graphql-typing.js
  webui/src/store/effector/cluster.js
  webui/src/store/effector/clusterSuggestions.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress

Take care of errno constants
  cartridge.lua
  cartridge/clusterwide-config.lua
  cartridge/utils.lua
  test/helper.lua
  test/unit/helpers_test.lua
Due: none

Take care of errno constants (#1275)
  cartridge.lua
  cartridge/clusterwide-config.lua
  cartridge/utils.lua
  test/helper.lua
  test/unit/helpers_test.lua
Due: none

Show replicasets setup on quick start
  README.rst
Due: none

Show replicasets setup on quick start (#1276)
  README.rst
Due: none

Adds disable servers suggestion webui (#1273)
  CHANGELOG.rst
  webui/cypress/integration/change-advertise-uri.spec.js
  webui/src/components/AdvertiseURISuggestionModal.js
  webui/src/components/ClusterSuggestionsPanel.js
  webui/src/components/DisableServersSuggestionModal.js
  webui/src/generated/graphql-typing.js
  webui/src/store/effector/cluster.js
  webui/src/store/effector/clusterSuggestions.js
  webui/src/store/request/clusterPage.requests.js
  webui/src/store/request/queries.graphql.js
Due: cypress

Path conditions:
  docker-build-ee-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-1.10: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.3: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  docker-build-ce-2.6: any of: .gitlab-ci.yml, Dockerfile.base-ee, Dockerfile.base-ce, test/integration/requirements.txt, rst/requirements.txt
  cypress: any of: webui/src/**/*, webui/cypress/**/*, test/cypress/**/*
